#w20200517a26137bffa5c1, #w20200517585d9ce1a8705, #w20200517533ad60e2fbc2, #w20200517847f6e52df580, #w202005178aa4c42cd4f89, #w202005175df0cff7c8b40, #w20200517d74f89ff6c33c, #w202005175a4304c0be542, #img_w20200517a26137bffa5c1, #img_w20200517533ad60e2fbc2, #img_w202005178aa4c42cd4f89, #img_w20200517d74f89ff6c33c, #text_w20200517585d9ce1a8705, #text_w20200517847f6e52df580, #text_w202005175df0cff7c8b40, #text_w202005175a4304c0be542 {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  #s20200420fa532045cb66b, #img_w202004299403ebcd20995, #img_w202004296819e316422a7, #img_w2020042991d5376537085, #img_w20200429f1f971b9ea812 {
    display: none !important;
  }

  #w20200517a26137bffa5c1, #w20200517585d9ce1a8705, #w20200517533ad60e2fbc2, #w20200517847f6e52df580, #w202005178aa4c42cd4f89, #w202005175df0cff7c8b40, #w20200517d74f89ff6c33c, #w202005175a4304c0be542, #img_w20200517a26137bffa5c1, #img_w20200517533ad60e2fbc2, #img_w202005178aa4c42cd4f89, #img_w20200517d74f89ff6c33c, #text_w20200517585d9ce1a8705, #text_w20200517847f6e52df580, #text_w202005175df0cff7c8b40, #text_w202005175a4304c0be542 {
    display: block !important;
  }


/*mobile image wrapper*/
#w20200517a26137bffa5c1, #w20200517533ad60e2fbc2, #w202005178aa4c42cd4f89, #w20200517d74f89ff6c33c {
  margin-bottom: 50px;
  border-top: solid 15px #f6f6f6;
}

/*mobile text wrapper*/
#w20200517585d9ce1a8705, #w20200517847f6e52df580, #w202005175df0cff7c8b40, #w202005175a4304c0be542 {
  position: absolute;
  z-index: 1000;
  top: -100px;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  margin-left: 20px;
  padding: 20px;
/*  padding-left: 20px;
  padding-bottom: 100px;
*/}

  /*mobile image*/
  #img_w20200517a26137bffa5c1, #img_w20200517533ad60e2fbc2, #img_w202005178aa4c42cd4f89, #img_w20200517d74f89ff6c33c {

  }

  /*mobile text*/
  #text_w20200517585d9ce1a8705, #text_w20200517847f6e52df580, #text_w202005175df0cff7c8b40, #text_w202005175a4304c0be542 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 10px !important;
    letter-spacing: -0.025em;
    color: #2e2e2e;
  }
}
