#w2020042943f17881da82c, #w20200518e2eff8937d566 {
  background-color: #7bbd26;
}

#visual_s202004203bc80f3af6ae5 span, #visual_s202004203bc80f3af6ae5 p {
  text-shadow: 0.5px 0 0 #383838, -0.5px 0 0 #383838, 0 0.5px 0 #383838, 0 -0.5px 0 #383838, 0.5px 0.5px #383838, -0.5px -0.5px 0 #383838, 0.5px -0.5px 0 #383838, -0.5px 0.5px 0 #383838;
}

#w20200612f523adb263ee5 {
  background-color: black;
  padding: 20px 100px;
  position: relative;
  height: 150px;
}

#w20200612f523adb263ee5 .form-widget {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

#w20200612f523adb263ee5 .form-widget:before, #input_438cfbe3d37f1:before, #input_079ae4d1844bb:before {
  content: '';
  display: block;
}
#w20200612f523adb263ee5 .form-widget:after, #input_438cfbe3d37f1:after, #input_079ae4d1844bb:after {
  clear: both;
}

#w20200612f523adb263ee5 form {
  float: left;
  width: 80%;
}

#addFormw20200612f523adb263ee5 {

}

#w20200612f523adb263ee5 .form.text-left {
  float: left;
  width: 20%;
}

#input_438cfbe3d37f1 {
  width: 30%;
  float: left;
  margin-right: 1%;
}

#input_079ae4d1844bb {
  width: 68%;
  float: left;
  margin-right: 1%;
}

#input_438cfbe3d37f1 label, #input_079ae4d1844bb label {
  display: none;
}
#addFormw20200612f523adb263ee5 #privacy label.control-label {
  display: none;
}
#addFormw20200612f523adb263ee5 #privacy .form-control {
  display: none;
}

#input_438cfbe3d37f1 {
  margin-bottom: 0 !important;
}
#addFormw20200612f523adb263ee5 .form-control#input_txt_438cfbe3d37f1 {
  border: none;
  border-bottom: 2px solid #777777 !important;
  margin-right: 1%;
  background-color: black !important;
  height: 40px;
  color: white !important;
}

#addFormw20200612f523adb263ee5 .form-control#input_txt_079ae4d1844bb {
  border: none;
  border-bottom: 2px solid #777777 !important;
  background-color: black !important;
  color: white !important;
  height: 40px;
}

#addFormw20200612f523adb263ee5 .privacy {
  position: absolute;
  top: 50px;
}
#addFormw20200612f523adb263ee5 .privacy span {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#w20200612f523adb263ee5 .form.text-left a {
  border: 2px solid white;
  color: white;
  background-color: black;
  font-weight: bold;
}

#w20200612f523adb263ee5 .form.text-left a:hover {
  border-width: 2px;
}

/*newsletter css for imweb template*/
#w20200520df16d1c9118b1 {
  background-color: black;
  padding: 20px 100px;
  position: relative;
  height: 150px;
}

#w20200520df16d1c9118b1 .form-widget {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

#w20200520df16d1c9118b1 .form-widget:before, #input_d324639c89a63:before, #input_da948fc6dabb2:before {
  content: '';
  display: block;
}
#w20200520df16d1c9118b1 .form-widget:after, #input_d324639c89a63:after, #input_da948fc6dabb2:after {
  clear: both;
}

#w20200520df16d1c9118b1 form {
  float: left;
  width: 80%;
}

#addFormw20200520df16d1c9118b1 {

}

#w20200520df16d1c9118b1 .form.text-left {
  float: left;
  width: 20%;
}

#input_d324639c89a63 {
  width: 30%;
  float: left;
  margin-right: 1%;
}

#input_da948fc6dabb2 {
  width: 68%;
  float: left;
  margin-right: 1%;
}

#input_d324639c89a63 label, #input_da948fc6dabb2 label {
  display: none;
}
#addFormw20200520df16d1c9118b1 #privacy label.control-label {
  display: none;
}
#addFormw20200520df16d1c9118b1 #privacy .form-control {
  display: none;
}

#input_d324639c89a63 {
  margin-bottom: 0 !important;
}
#addFormw20200520df16d1c9118b1 .form-control#input_txt_d324639c89a63 {
  border: none;
  border-bottom: 2px solid #777777 !important;
  margin-right: 1%;
  background-color: black !important;
  height: 40px;
  color: white !important;
}

#addFormw20200520df16d1c9118b1 .form-control#input_txt_da948fc6dabb2 {
  border: none;
  border-bottom: 2px solid #777777 !important;
  background-color: black !important;
  color: white !important;
  height: 40px;
}

#addFormw20200520df16d1c9118b1 .privacy {
  position: absolute;
  top: 50px;
}
#addFormw20200520df16d1c9118b1 .privacy span {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#w20200520df16d1c9118b1 .form.text-left a {
  border: 2px solid white;
  color: white;
  background-color: black;
  font-weight: bold;
}

#w20200520df16d1c9118b1 .form.text-left a:hover {
  border-width: 2px;
}
/*newsletter css for imweb template end*/

@media only screen and (max-width: 990px) {
  #visual_s202004203bc80f3af6ae5 h4 span {
    font-size: 20px !important;
  }

  #visual_s202004203bc80f3af6ae5 p {
    font-size: 10px;
  }

  #s20200420fa532045cb66b, #img_w202004299403ebcd20995, #img_w202004296819e316422a7, #img_w2020042991d5376537085, #img_w20200429f1f971b9ea812 {
    display: none !important;
  }

  /*mobile image wrapper*/
  /*#w20200517a26137bffa5c1, #w20200517533ad60e2fbc2, #w202005178aa4c42cd4f89, #w20200517d74f89ff6c33c {*/
  #s202005181a6e81f045259, #s2020051805ead9157817d, #s2020051855e6a9976e044, #s2020051897ec0c8ed2c0a {
    height: 300px;
    position: relative;
    margin-bottom: 80px;
    border-top: solid 15px #f6f6f6;
  }

  /*mobile text wrapper*/
  /*#w20200517585d9ce1a8705, #w20200517847f6e52df580, #w202005175df0cff7c8b40, #w202005175a4304c0be542 {*/
  #w202005184a98776144005, #w202005183738d9a8f7760, #w2020051805be9a0cc61a9, #w2020051840a945f8c1857 {
    position: absolute;
    z-index: 10;
    top: 240px;
    background: rgb(255, 255, 255);
    width: calc(100% - 20px);
    height: 120px;
    margin-left: 20px;
    padding: 10px 20px 20px 20px;
  /*  padding-left: 20px;
    padding-bottom: 100px;
  */}

  /*mobile image*/
  #img_w20200517a26137bffa5c1, #img_w20200517533ad60e2fbc2, #img_w202005178aa4c42cd4f89, #img_w20200517d74f89ff6c33c {

  }

  /*mobile text*/
  /*#text_w20200517585d9ce1a8705, #text_w20200517847f6e52df580, #text_w202005175df0cff7c8b40, #text_w202005175a4304c0be542 {*/
  #text_w202005184a98776144005, #text_w202005183738d9a8f7760, #text_w2020051805be9a0cc61a9, #text_w2020051840a945f8c1857 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px !important;
    letter-spacing: -0.025em;
    color: #2e2e2e;
  }

  /*#text_w20200517585d9ce1a8705 a, #text_w20200517847f6e52df580 a, #text_w202005175df0cff7c8b40 a, #text_w202005175a4304c0be542 a {*/
  #text_w202005184a98776144005 a, #text_w202005183738d9a8f7760 a, #text_w2020051805be9a0cc61a9 a, #text_w2020051840a945f8c1857 a {
    display: block;
    padding-top: 10px;
  }

  /* 메인슬라이드 밑에 텍스트 섹션*/
  #visual_s20200518279a97e8a4366 .op._op{
    height: 150px;
  }

  #visual_s20200518279a97e8a4366 .header-content{
    height: 150px !important;
  }

  #visual_s20200518279a97e8a4366 .text._text_wrap{
    height: 150px;
  }

  #visual_s20200518279a97e8a4366 .text-section {
    display: block !important;
    width: 100%;
  }

  #visual_s20200518279a97e8a4366 .button-section {
    display: block !important;
    width: 100% !important;
    text-align: right;
  }
}

/* mozo rolling board */
#section-4 {
    margin-top: 100px;
    background: #f0f0f0;
    padding: 60px 0;
}
#section-4 ul {
    padding-left:0;
}
.row-gap-0 {
    margin-left: 0;
    margin-right: 0;
}
.row-gap-0>[class*=col-] {
    padding-left: 0;
    padding-right: 0;
}
#section-4 .container-fluid {
    max-width: 1400px;
}
#section-4 > div > div {
    border: 1px solid #e0e0e0;
    background: #fff;
    position: relative;
}
#section-4 .feed h3 {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 0;
    line-height: 56px;
    margin: 0;
}
#section-4 .feed {
    position: relative;
    margin: 35px 60px;
    padding-left: 120px;
}
#section-4 .feed {
    position: relative;
    margin: 35px 60px;
    padding-left: 120px;
}
#section-4 .feed .rolling-list li a {
    display: block;
    text-align: left;
    color: #666;
    line-height: 56px;
    text-decoration: none;
    margin-right: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
}
#section-4 .feed .rolling-list nav {
    position: absolute;
    right: 0;
    top: 18px;
}
#section-4 .feed .rolling-list nav a {
    font-size: 10px;
    display: block;
    width: 36px;
    line-height: 36px;
    text-align: center;
    color: #666;
    cursor: pointer;
}
.icon {
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none !important;
    transition: color .1s ease-in 0;
    margin-top: -1px;
}
.text-ellipsis, .multitext-ellipsis-1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* mozo rolling board end */

/*old main */
#w20200522f781b42ee003a {
  background-color: black;
  padding: 20px 100px;
  position: relative;
  height: 150px;
}

#w20200522f781b42ee003a .form-widget {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

#w20200522f781b42ee003a .form-widget:before, #input_438cfbe3d37f1:before, #input_079ae4d1844bb:before {
  content: '';
  display: block;
}
#w20200522f781b42ee003a .form-widget:after, #input_438cfbe3d37f1:after, #input_079ae4d1844bb:after {
  clear: both;
}

#w20200522f781b42ee003a form {
  float: left;
  width: 80%;
}

#addFormw20200522f781b42ee003a {

}

#w20200522f781b42ee003a .form.text-left {
  float: left;
  width: 20%;
}

#input_438cfbe3d37f1 {
  width: 30%;
  float: left;
  margin-right: 1%;
}

#input_079ae4d1844bb {
  width: 68%;
  float: left;
  margin-right: 1%;
}

#input_438cfbe3d37f1 label, #input_079ae4d1844bb label {
  display: none;
}
#addFormw20200522f781b42ee003a #privacy label.control-label {
  display: none;
}
#addFormw20200522f781b42ee003a #privacy .form-control {
  display: none;
}

#input_438cfbe3d37f1 {
  margin-bottom: 0 !important;
}
#addFormw20200522f781b42ee003a .form-control#input_txt_438cfbe3d37f1 {
  border: none;
  border-bottom: 2px solid #777777 !important;
  margin-right: 1%;
  background-color: black !important;
  height: 40px;
  color: white !important;
}

#addFormw20200522f781b42ee003a .form-control#input_txt_079ae4d1844bb {
  border: none;
  border-bottom: 2px solid #777777 !important;
  background-color: black !important;
  color: white !important;
  height: 40px;
}

#addFormw20200522f781b42ee003a .privacy {
  position: absolute;
  top: 50px;
}
#addFormw20200522f781b42ee003a .privacy span {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#w20200522f781b42ee003a .form.text-left a {
  border: 2px solid white;
  color: white;
  background-color: black;
  font-weight: bold;
}

#w20200522f781b42ee003a .form.text-left a:hover {
  border-width: 2px;
}

/*old main end*/