<header id="doz_header_wrap">
    <div id="doz_header" data-newheader="Y">
        <div class="new_org_header _new_org_header">
            <div id="inline_header_normal" style="min-height: 30px;" class="first_scroll_fixed">
                <div data-type="section-wrap" class="  inline-section-wrap fixed_transform" id="s2020042097460ca3774f3">
                    <div class="section_bg _section_bg fixed_transform _interactive_bg  "></div>
                    <div class="section_bg_color _section_bg_color fixed_transform"
                        style="background-color:#fff;  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
                    <div data-type="inside" class="inline-inside _inline-inside">
                        <div data-type="section" class="inline-section" section-code="s2020042097460ca3774f3">
                            <div data-type="col-group" data-col-group="right"
                                class="inline-col-group inline-col-group-right" style="">
                                <div data-type="grid" class="inline-col">
                                    <div data-type="widget" id="w202004208f55d9bfa5e7b" class="inline-widget">
                                        <div class="_widget_data" data-widget-type="inline_button">
                                            <div
                                                class="widget inline_widget login_btn button  button_text txt_l text-xx-small">
                                                <div>
                                                    <div class="inline-blocked"><a
                                                            class="cursor_default _fade_link  fixed_transform  btn_text btn_b08694df3740e   btn_custom "
                                                            href="" style="border-radius:0px; "><span
                                                                class="text fixed_transform ">마이페이지</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-type="grid" class="inline-col">
                                    <div data-type="widget" id="w20200420d9f7e4480eb4b" class="inline-widget">
                                        <div class="_widget_data" data-widget-type="inline_search_btn">

                                            <div class="widget inline_widget search_btn">
                                                <div class="search_type fixed_transform search_btn_type01">
                                                    <div class="inline-blocked holder ">
                                                        <form class=" text_on" action="/search" method="get"
                                                            id="inline_s_form_w20200420d9f7e4480eb4b">
                                                            <input class="search_btn_form" name="keyword"
                                                                style="display: none" placeholder="Search" value=""
                                                                title="site search"><a
                                                                class="fixed_transform inline-blocked " href="#"
                                                                onclick="SITE_SEARCH.openSearch(search_option_data_w20200420d9f7e4480eb4b);"><span
                                                                    class="inline-blocked">검색</span><span
                                                                    class="sr-only">검색</span></a> </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-type="section-wrap" class="  inline-section-wrap fixed_transform" id="s202004203ec0d016fd079">
                    <div class="section_bg _section_bg fixed_transform _interactive_bg  "></div>
                    <div class="section_bg_color _section_bg_color fixed_transform"
                        style="background-color:#fff;  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
                    <div data-type="inside" class="inline-inside _inline-inside">
                        <div data-type="section" class="inline-section" section-code="s202004203ec0d016fd079">
                            <div data-type="col-group" data-col-group="left"
                                class="inline-col-group inline-col-group-left" style="width:225px;">
                                <div data-type="grid" class="inline-col">
                                    <div data-type="widget" id="w202004202f1748c0c89e8" class="inline-widget">
                                        <div class="_widget_data" data-widget-type="inline_logo">
                                            <div class="widget inline_widget logo  text_inline"
                                                id="logo_w202004202f1748c0c89e8">
                                                <div class="img_box _img_box" style="position: relative;">
                                                    <a class="" href="/"><span class="sr-only">사이트 로고</span> <img
                                                            class="normal_logo _front_img"
                                                            src="https://cdn.imweb.me/thumbnail/20200517/4cc8815993c5f.png"
                                                            alt="태화복지재단" width="225.631929047"
                                                            style="max-width: 100%;height: auto; image-rendering: -webkit-optimize-contrast;">
                                                        <img class="scroll_logo fixed_transform"
                                                            src="https://cdn.imweb.me/thumbnail/20200517/4cc8815993c5f.png"
                                                            alt="태화복지재단" width="225.631929047"
                                                            style="max-width: 100%;height: auto; image-rendering: -webkit-optimize-contrast;">
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-type="col-group" data-col-group="right"
                                class="inline-col-group inline-col-group-right" style="width:1025px;">
                                <div data-type="grid" class="inline-col">
                                    <div data-type="widget" id="w20200420a961278cf5173" class="inline-widget">
                                        <div class="_widget_data" data-widget-type="inline_menu">
                                            <ul class="nav navbar-nav _inline_menu_container sub_mega_drop"
                                                style="visibility: hidden">
                                                <div class="viewport-nav desktop _main_menu">


                                                    <li class="dropdown _show_m20200420161203ad249a2  " style=""
                                                        id="dropdown_m20200420161203ad249a2"
                                                        data-code="m20200420161203ad249a2">
                                                        <a href="/taewha"
                                                            class="fixed_transform dropdown-toggle disabled _header_dropdown   _fade_link "
                                                            data-url="taewha" data-toggle="dropdown">
                                                            <span class="_txt_m20200420161203ad249a2 plain_name"
                                                                data-hover="">소개 </span>
                                                        </a>

                                                    </li>

                                                    <li class="dropdown _show_m20200420c839aeddcde2a  use_sub_name"
                                                        style="" id="dropdown_m20200420c839aeddcde2a"
                                                        data-code="m20200420c839aeddcde2a">
                                                        <a href="/actions"
                                                            class="fixed_transform dropdown-toggle disabled _header_dropdown   _fade_link "
                                                            data-url="actions" data-toggle="dropdown">
                                                            <span class="_txt_m20200420c839aeddcde2a plain_name"
                                                                data-hover="주요사업">사업</span>
                                                        </a>

                                                    </li>

                                                    <li class="dropdown _show_m202004204cbf922e39780  " style=""
                                                        id="dropdown_m202004204cbf922e39780"
                                                        data-code="m202004204cbf922e39780">
                                                        <a href="/support"
                                                            class="fixed_transform dropdown-toggle disabled _header_dropdown   _fade_link "
                                                            data-url="support" data-toggle="dropdown">
                                                            <span class="_txt_m202004204cbf922e39780 plain_name"
                                                                data-hover="">후원 </span>
                                                        </a>

                                                    </li>

                                                    <li class="dropdown _show_m20200420ec29c224c16af  " style=""
                                                        id="dropdown_m20200420ec29c224c16af"
                                                        data-code="m20200420ec29c224c16af">
                                                        <a href="/news"
                                                            class="fixed_transform dropdown-toggle disabled _header_dropdown   _fade_link "
                                                            data-url="news" data-toggle="dropdown">
                                                            <span class="_txt_m20200420ec29c224c16af plain_name"
                                                                data-hover="">소식</span>
                                                        </a>

                                                    </li>

                                                    <li class="dropdown _show_m20200420ab35bf7dc5513  " style=""
                                                        id="dropdown_m20200420ab35bf7dc5513"
                                                        data-code="m20200420ab35bf7dc5513">
                                                        <a href="/events"
                                                            class="fixed_transform dropdown-toggle disabled _header_dropdown   _fade_link "
                                                            data-url="events" data-toggle="dropdown">
                                                            <span class="_txt_m20200420ab35bf7dc5513 plain_name"
                                                                data-hover="">태화 100년</span>
                                                        </a>

                                                    </li>

                                                </div>
                                            </ul>
                                            <div id="dropdown_w20200420a961278cf5173"
                                                class=" text-center _mega_dropdown_container_w20200420a961278cf5173 "
                                                style="display: none" data-widget-type="inline_menu">
                                                <div class="clearfix mega_dropdown_wrap _mega_dropdown_wrap">
                                                    <div class="tse-scrollable _tse_scrollable">
                                                        <div class="tse-content">
                                                            <div class="" style="max-width: 2000px;">
                                                                <div class="mega_dropdown clearfix _mega_dropdown_sync"
                                                                    style="visibility: hidden">


                                                                    <div class="title_menu _item "
                                                                        data-code="m20200420161203ad249a2" style="">
                                                                        <a href="/taewha"
                                                                            class=" _title_anchor  _fade_link "
                                                                            data-url="taewha">
                                                                            <span
                                                                                class="_txt_m20200420161203ad249a2 _title_txt plain_name"
                                                                                data-hover="">소개
                                                                            </span>
                                                                        </a>

                                                                        <ul class="sub_menu">

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/about"
                                                                                    data-url="about"
                                                                                    class="_fade_link _txt_m202004246a82f25a8ada3 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">태화복지재단은</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/24"
                                                                                    data-url="24"
                                                                                    class="_fade_link _txt_m202004209ba5e28216be4 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">태화의 정신</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/greetings"
                                                                                    data-url="greetings"
                                                                                    class="_fade_link _txt_m2020042075967c30e23e3 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">인사말</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/corporat"
                                                                                    data-url="corporat"
                                                                                    class="_fade_link _txt_m20200420c6f2d192b5bf1 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">법인구성</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/28"
                                                                                    data-url="28"
                                                                                    class="_fade_link _txt_m202004202c744155553a9 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">투명경영</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1"
                                                                                    href="/corporate_identity"
                                                                                    data-url="corporate_identity"
                                                                                    class="_fade_link _txt_m202004200ffcf2ef48efa "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">CI</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/location"
                                                                                    data-url="location"
                                                                                    class="_fade_link _txt_m2020042074302d7f1b1c7 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">오시는 길</span></a>
                                                                            </li>

                                                                        </ul>

                                                                    </div>

                                                                    <div class="title_menu _item use_sub_name"
                                                                        data-code="m20200420c839aeddcde2a" style="">
                                                                        <a href="/actions"
                                                                            class=" _title_anchor  _fade_link "
                                                                            data-url="actions">
                                                                            <span
                                                                                class="_txt_m20200420c839aeddcde2a _title_txt plain_name"
                                                                                data-hover="주요사업">사업</span>
                                                                        </a>

                                                                        <ul class="sub_menu">

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/31"
                                                                                    data-url="31"
                                                                                    class="_fade_link _txt_m2020042023ede2fb3f540 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">국내사회복지사업</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/32"
                                                                                    data-url="32"
                                                                                    class="_fade_link _txt_m20200420a44f6e531c2f2 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">해외사회복지사업</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/33"
                                                                                    data-url="33"
                                                                                    class="_fade_link _txt_m20200420b7cdd3830cf95 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">사회복지연구소</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/52"
                                                                                    data-url="52"
                                                                                    class="_fade_link _txt_m20200428ff816e9c4f192 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">새로운 메뉴</span></a>
                                                                            </li>

                                                                        </ul>

                                                                    </div>

                                                                    <div class="title_menu _item "
                                                                        data-code="m202004204cbf922e39780" style="">
                                                                        <a href="/support"
                                                                            class=" _title_anchor  _fade_link "
                                                                            data-url="support">
                                                                            <span
                                                                                class="_txt_m202004204cbf922e39780 _title_txt plain_name"
                                                                                data-hover="">후원
                                                                            </span>
                                                                        </a>

                                                                        <ul class="sub_menu">

                                                                            <li class="" style="">
                                                                                <a tabindex="-1"
                                                                                    href="/individual_donation"
                                                                                    data-url="individual_donation"
                                                                                    class="_fade_link _txt_m20200420be32f25656eab "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">후원으로 함께
                                                                                    </span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/35"
                                                                                    data-url="35"
                                                                                    class="_fade_link _txt_m20200420311638c1c4240 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">기업(단체)
                                                                                        함께</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/36"
                                                                                    data-url="36"
                                                                                    class="_fade_link _txt_m202004208e4e0548c7796 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">캠페인</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/37"
                                                                                    data-url="37"
                                                                                    class="_fade_link _txt_m20200420d7dcedf929add "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">기금 후원</span></a>
                                                                            </li>

                                                                        </ul>

                                                                    </div>

                                                                    <div class="title_menu _item "
                                                                        data-code="m20200420ec29c224c16af" style="">
                                                                        <a href="/news"
                                                                            class=" _title_anchor  _fade_link "
                                                                            data-url="news">
                                                                            <span
                                                                                class="_txt_m20200420ec29c224c16af _title_txt plain_name"
                                                                                data-hover="">소식</span>
                                                                        </a>

                                                                        <ul class="sub_menu">

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/notices"
                                                                                    data-url="notices"
                                                                                    class="_fade_link _txt_m202004207fbf3356c1e74 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">공지사항</span></a>
                                                                            </li>

                                                                            <li class="" style="">
                                                                                <a tabindex="-1" href="/board"
                                                                                    data-url="board"
                                                                                    class="_fade_link _txt_m202004244a6cf01e0dcc6 "><span
                                                                                        class="plain_name"
                                                                                        data-hover="">태화스토리</span></a>
                                                                            </li>

                                                                        </ul>

                                                                    </div>

                                                                    <div class="title_menu _item "
                                                                        data-code="m20200420ab35bf7dc5513" style="">
                                                                        <a href="/events"
                                                                            class=" _title_anchor  _fade_link "
                                                                            data-url="events">
                                                                            <span
                                                                                class="_txt_m20200420ab35bf7dc5513 _title_txt plain_name"
                                                                                data-hover="">태화
                                                                                100년</span>
                                                                        </a>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- 템플릿별 레이아웃 구조 -->
                                            <!-- 템플릿별 레이아웃 구조 -->




                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="inline_header_mobile" style="min-height: 30px;" class="first_scroll_fixed">
                <div data-type="section-wrap" class="  inline-section-wrap fixed_transform" id="s202004208e41edf2551e4">
                    <div class="section_bg _section_bg fixed_transform _interactive_bg  "></div>
                    <div class="section_bg_color _section_bg_color fixed_transform"
                        style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
                    <div data-type="inside" class="inline-inside _inline-inside">
                        <div data-type="section" class="inline-section" section-code="s202004208e41edf2551e4">
                            <div data-type="col-group" data-col-group="left"
                                class="inline-col-group inline-col-group-left" style="width:81px;">
                                <div data-type="grid" class="inline-col">
                                    <div data-type="widget" id="w2020042077eec95233c2a" class="inline-widget">
                                        <div class="_widget_data" data-widget-type="inline_menu_btn">
                                            <div class="widget inline_widget icon_type_menu st00">
                                                <a href="javascript:;" class="_no_hover fixed_transform inline-blocked"
                                                    onclick="MOBILE_SLIDE_MENU.slideNavToggle($(this))">
                                                    <span class="holder icon_code btm bt-bars"
                                                        id="inline_menu_alarm_badge"></span>
                                                    <span class="text">MENU</span>
                                                </a>
                                            </div>





                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-type="col-group" data-col-group="center"
                                class="inline-col-group inline-col-group-center">
                                <div data-type="grid" class="inline-col">
                                    <div data-type="widget" id="w202004202d099b2f29f06" class="inline-widget">
                                        <div class="_widget_data" data-widget-type="inline_logo">
                                            <div class="widget inline_widget logo  text_inline"
                                                id="logo_w202004202d099b2f29f06">
                                                <div class="logo_title ">
                                                    <a class=" fixed_transform" style="display: block"
                                                        href="/">태화복지재단</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-type="col-group" data-col-group="right"
                                class="inline-col-group inline-col-group-right" style="width:81px;">
                                <div data-type="grid" class="inline-col">
                                    <div data-type="widget" id="w20200420552598bc1165a" class="inline-widget">
                                        <div class="_widget_data" data-widget-type="inline_login_btn">
                                            <div class="widget inline_widget login_btn button   txt_l text-xx-small">
                                                <div>
                                                </div>
                                            </div>





                                        </div>
                                    </div>
                                </div>
                                <div data-type="grid" class="inline-col">
                                    <div data-type="widget" id="w2020042064dd899274896" class="inline-widget">
                                        <div class="_widget_data" data-widget-type="inline_search_btn">

                                            <div class="widget inline_widget search_btn">
                                                <div class="search_type fixed_transform search_btn_type01">
                                                    <div class="inline-blocked holder ">
                                                        <form class=" icon_on" action="/search" method="get"
                                                            id="inline_s_form_w2020042064dd899274896">
                                                            <input class="search_btn_form" name="keyword"
                                                                style="display: none" placeholder="Search" value=""
                                                                title="site search"><a
                                                                class="fixed_transform inline-blocked " href="#"
                                                                onclick="SITE_SEARCH.openSearch(search_option_data_w2020042064dd899274896);"><i
                                                                    class="simple icon-magnifier"></i><span
                                                                    class="sr-only">site search</span></a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>






                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-type="carousel_menu" class="inline-section-wrap" id="mobile_carousel_menu">
                    <div class="inline-inside _inline-inside">
                        <div class="mobile_carousel_nav fixed_transform _mobile_nav " id="mobile_carousel_nav">
                            <div class="mobile_nav_depth depth_0 depth_first st05 _mobile_navigation_menu"
                                id="mobile_carousel_menu_0">

                                <div class="nav-item _item  " data-url="taewha">
                                    <a href="/taewha" class=" _fade_link " style="">
                                        <span class="plain_name" data-hover="">소개 </span>
                                    </a>
                                </div>

                                <div class="nav-item _item  use_sub_name" data-url="actions">
                                    <a href="/actions" class=" _fade_link " style="">
                                        <span class="plain_name" data-hover="주요사업">사업</span>
                                    </a>
                                </div>

                                <div class="nav-item _item  " data-url="support">
                                    <a href="/support" class=" _fade_link " style="">
                                        <span class="plain_name" data-hover="">후원 </span>
                                    </a>
                                </div>

                                <div class="nav-item _item  " data-url="news">
                                    <a href="/news" class=" _fade_link " style="">
                                        <span class="plain_name" data-hover="">소식</span>
                                    </a>
                                </div>

                                <div class="nav-item _item  " data-url="events">
                                    <a href="/events" class=" _fade_link " style="">
                                        <span class="plain_name" data-hover="">태화 100년</span>
                                    </a>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</header>