<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#f4bd18" />
    <meta name="msapplication-navbutton-color" content="#f4bd18">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:url" content="https://taiwhafound.campaignus.me/" />
    <title>태화복지재단</title>
    <meta name='application-name' content='태화복지재단' />
    <meta name='msapplication-tooltip' content='태화복지재단' />
    <meta id='meta_og_title' property='og:title' content='태화복지재단' />
    <link rel="canonical" href="https://taiwhafound.campaignus.me/" />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/minify_css/vendor_blue_10.css?1577687557' />
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/minify_css/vendor_red_10.css?1577687557' />
    <!--[if lte IE 9]>
    <link rel='stylesheet' type='text/css' href='/css/bootstrap.css?1577682293'/>
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/owl.carousel1.css?1577682282'/>
    <![endif]-->
    <link rel='stylesheet' type='text/css' href='https://taiwhafound.campaignus.me/css/alarm_menu.css?1577682292' />
    <link rel='stylesheet' type='text/css' href='https://taiwhafound.campaignus.me/css/custom.cm?1577682292' />
    <link rel='stylesheet' type='text/css' href='https://taiwhafound.campaignus.me/css/function.css?1589149169' />
    <link rel='stylesheet' type='text/css' href='https://taiwhafound.campaignus.me/css/site.css?1589344701' />
    <link rel='stylesheet' type='text/css' href='https://taiwhafound.campaignus.me/css/site2.css?1589344701' />
    <!--[if lte IE 9]>
    <link rel='stylesheet' type='text/css' href='https://taiwhafound.campaignus.me/css/iefix.css?1577682293'/>
    <![endif]-->
    <link rel='stylesheet' type='text/css' href='https://taiwhafound.campaignus.me/css/iefix2.css?1577682293' />
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/xzoom.css?1577682282' />
    <link rel='stylesheet' type='text/css' href='https://vendor-cdn.imweb.me/css/animate.css?1577682282' />
    
    {{ partial "head.css" . }}
    
    <script src='https://vendor-cdn.imweb.me/js/jquery.js?1577682292'></script>
    <script src='https://vendor-cdn.imweb.me/js/jquery-ui.design.js?1577682292'></script>
  
    <script>
      var CUSTOM_IMAGE_WIDTH = 1600;
      var IS_MOBILE = false;
      var IS_IE = false;
      var IS_SUPPORT_CSS3 = true;
      var UPLOAD_URL = '/upload/';
      var CDN_UPLOAD_URL = 'https://cdn.imweb.me/upload/';
      var IS_MAIN = false;
      var CURRENT_URL = 'Lw%3D%3D';
      var CURRENT_DOMAIN = 'taiwhafound.campaignus.me';
      var THUMBNAIL_URL = '/thumbnail/';
      var CDN_THUMBNAIL_URL = 'https://cdn.imweb.me/thumbnail/';
      var SITE_CODE = 'S20200420439dfe86de087';
      var UNIT_CODE = 'u202004205e9d350d680b2';
      var MAIN_DOMAIN = 'taiwhafound.campaignus.me';
      var VENDOR_DOMAIN = 'https://vendor-cdn.imweb.me';
      var GOOGLE_API_KEY = 'AIzaSyA8CCexf9XTJcH09mStr-HRW4nin4k8J7w';
      var IS_ANDROID_APP = 'N';
      var IS_IOS_APP = 'N';
      var APP_VERSION = '0';
      var IS_APP = IS_ANDROID_APP == "Y" || IS_IOS_APP == "Y";
      var IE_VERSION = '11';
      var TEST_SERVER = false;
      var MENU_SNS_INIT_DATA = { "_main_url": "https:\/\/taiwhafound.campaignus.me", "_site_name": "\ud0dc\ud654\ubcf5\uc9c0\uc7ac\ub2e8", "_subject": "\ud0dc\ud654\ubcf5\uc9c0\uc7ac\ub2e8", "_body": "", "_post_url": "https:\/\/taiwhafound.campaignus.me\/", "_img": "", "_security_post_url": "aHR0cHM6Ly90YWl3aGFmb3VuZC5jYW1wYWlnbnVzLm1lLw==", "ace_counter_plus_switch": false };
      var LIMIT_API_LIST = ["kakao_link", "kakaostory_link"];
      var NO_IMAGE_URL = '/img/transparency.png';
      var SITE_COUNTRY_CODE = 'kr';
      var KOREA_COUNTRY_CODE = 'kr';
      var TAIWAN_COUNTRY_CODE = 'tw';
  
    //var LOGIN_MEMBER_DATA = {"name": "", "point": ""};
    </script>
    <script src='https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js'></script>
    <script src='https://player.vimeo.com/api/player.js'></script>
  </head>