<div doz_type="section" class="section_wrap visual_section pc_section section_first _section_first mobile_section_first"
    id="s202004203bc80f3af6ae5" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N"
    doz_category="visual" doz_fullpage="N">
    <div class="visual_section  _visual_section   " id="visual_s202004203bc80f3af6ae5">
        <!-- 비주얼 영역이 없는 경우 .no-visual 추가 -->
        <!-- 비주얼 영역-->
        <div class="owl-carousel owl-theme _slide ">
            <div class='item holder section '
                style='background-image:url(https://cdn.imweb.me/thumbnail/20200428/fdecd1d82135a.jpg); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;'>
                <div class='op _op' style='position: relative;z-index: 11; '>
                    <div class='header-content _visual_height m_ratio'>
                        <div class='text _text_wrap'>
                            <div class='text-wrap _text fr-view'>
                                <p><br></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">소외된 이웃이 없는 평화로운 세상을
                                            꿈꿉니다.</span></strong></p>
                                <p><br></p>
                                <p><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: justify;"><br><span
                                        style="font-size: 12px;color: white;text-shadow: -1px 0 #5e5e5e, 0 1px #5e5e5e, 1px 0 #5e5e5e, 0 -1px #5e5e5e;"><a
                                            class="btn btn-lg" href="#"
                                            style="border: 2px solid white;background-color:rgb(0,0,0,0.5);">더
                                            알아보기</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='item holder section '
                style='background-image:url(https://cdn.imweb.me/thumbnail/20200428/0c738901ba781.jpg); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 0;'>
                <div class='op _op' style='position: relative;z-index: 11; '>
                    <div class='header-content _visual_height m_ratio'>
                        <div class='text _text_wrap'>
                            <div class='text-wrap _text fr-view'>
                                <p><br></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">소외된 이웃이 없는 평화로운 세상을
                                            꿈꿉니다.</span></strong></p>
                                <p><br></p>
                                <p><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: justify;"><br><span
                                        style="font-size: 12px;color: white;text-shadow: -1px 0 #5e5e5e, 0 1px #5e5e5e, 1px 0 #5e5e5e, 0 -1px #5e5e5e;"><a
                                            class="btn btn-lg" href="#"
                                            style="border: 2px solid white;background-color:rgb(0,0,0,0.5);">더
                                            알아보기</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='item holder section '
                style='background-image:url(https://cdn.imweb.me/thumbnail/20200428/0214a985ed6d2.jpg); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;'>
                <div class='op _op' style='position: relative;z-index: 11; '>
                    <div class='header-content _visual_height m_ratio'>
                        <div class='text _text_wrap'>
                            <div class='text-wrap _text fr-view'>
                                <p><br></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">소외된 이웃이 없는 평화로운 세상을
                                            꿈꿉니다.</span></strong></p>
                                <p><br></p>
                                <p><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: justify;"><br><span
                                        style="font-size: 12px;color: white;text-shadow: -1px 0 #5e5e5e, 0 1px #5e5e5e, 1px 0 #5e5e5e, 0 -1px #5e5e5e;"><a
                                            class="btn btn-lg" href="#"
                                            style="border: 2px solid white;background-color:rgb(0,0,0,0.5);">더
                                            알아보기</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end.비주얼 영역 -->
    </div>
</div>