<div doz_type="section" class="section_wrap pc_section side_basic grid_gutter_8 grid_v_gutter_8 lr_margin_none"
    id="s20200420fa532045cb66b" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0"
    doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N"
    doz_category="contents">
    <div class="section_bg _section_bg _interactive_bg"
        style="background-size:cover; position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
    <div class="section_bg_color _section_bg_color" style="position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <main>
        {{/*  가로선  */}}
        <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                <div doz_type="widget" id="w202004294b038a76284dd">
                    <div class="_widget_data " data-widget-name="가로선" data-widget-type="hr" data-widget-anim="none"
                        data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                        <div class="widget line type01 _hide" id="hr_w202004294b038a76284dd">
                            <div class="line_box holder" style="width:100%; ">
                                <hr style="border-top-width:10px; border-color:rgba(0, 0, 0, 0.05);" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/*  여백  */}}
        <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                <div doz_type="widget" id="w20200429f0ce404c678da">
                    <div class="_widget_data " data-widget-name="여백" data-widget-type="padding" data-widget-anim="none"
                        data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                        <div class="widget padding" data-height="30" style="margin-top:px; margin-bottom:px;">
                            <div id="padding_w20200429f0ce404c678da" style="width:100%; min-height:1px; height:30px; ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/*  이미지  */}}
        <div doz_type="inside" class="inside">
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w202004299403ebcd20995">
                        <div class="_widget_data " data-widget-name="이미지" data-widget-type="image"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div
                                class="widget image  _image_wrap text_position_bottom hover_text_position_bottom visibility hover_image_hidden org_size  hover_img_hide   same_overlay">
                                <div class="_img_box img_wrap "><img id="img_w202004299403ebcd20995"
                                        src="https://cdn.imweb.me/thumbnail/20200429/b8802543b4fe3.png"
                                        style="visibility:hidden;image-rendering: -webkit-optimize-contrast;"
                                        class=" org_image" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/*  이미지  */}}
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w202004296819e316422a7">
                        <div class="_widget_data " data-widget-name="이미지" data-widget-type="image"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div
                                class="widget image  _image_wrap text_position_bottom hover_text_position_bottom visibility hover_image_hidden org_size  hover_img_hide   same_overlay">
                                <div class="_img_box img_wrap "><img id="img_w202004296819e316422a7"
                                        src="https://cdn.imweb.me/thumbnail/20200429/32d897fb10d65.png"
                                        style="visibility:hidden;image-rendering: -webkit-optimize-contrast;"
                                        class=" org_image" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div doz_type="section" class="section_wrap pc_section side_basic" id="s202004207611ad267c96f" doz_change_mobile="N"
    doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N"
    doz_header_repeat="N" doz_footer_repeat="N" doz_category="contents">
    <div class="section_bg _section_bg _interactive_bg"
        style="background-size:cover; position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
    <div class="section_bg_color _section_bg_color" style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <main>
        <div doz_type="inside" class="inside"></div>
        <div doz_type="inside" class="inside"></div>
        <div doz_type="inside" class="inside">
            {{/*  이미지  */}}
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w2020042991d5376537085">
                        <div class="_widget_data " data-widget-name="이미지" data-widget-type="image"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div
                                class="widget image  _image_wrap text_position_bottom hover_text_position_bottom visibility hover_image_hidden org_size  hover_img_hide   same_overlay">
                                <div class="_img_box img_wrap "><img id="img_w2020042991d5376537085"
                                        src="https://cdn.imweb.me/thumbnail/20200429/014cdffbe6cf7.png"
                                        style="visibility:hidden;image-rendering: -webkit-optimize-contrast;"
                                        class=" org_image" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/*  이미지  */}}
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20200429f1f971b9ea812">
                        <div class="_widget_data " data-widget-name="이미지" data-widget-type="image"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div
                                class="widget image  _image_wrap text_position_bottom hover_text_position_bottom visibility hover_image_hidden org_size  hover_img_hide   same_overlay">
                                <div class="_img_box img_wrap "><img id="img_w20200429f1f971b9ea812"
                                        src="https://cdn.imweb.me/thumbnail/20200429/3ee83ac3cbc33.png"
                                        style="visibility:hidden;image-rendering: -webkit-optimize-contrast;"
                                        class=" org_image" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>