{{/*  후원 배너  */}}
<div doz_type="row" doz_grid="12" class="doz_row">
    <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
        <div doz_type="widget" id="w2020042910897ed622a84">
            <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text" data-widget-anim="none"
                data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view  default_padding "
                    id="text_w2020042910897ed622a84">
                    <div class="text_bg_color" style="background-color: #7bbd26"></div>
                    <div class="text-table holder">
                        <div>
                            <p style="text-align: center;"><br></p>
                            <p style="text-align: center;"><span
                                    style="font-size: 18px; color: rgb(255, 255, 255);">1921년,
                                    마이어스 선교사는 미국 감리교회로부터 20만 원의 후원금을 받아&nbsp;</span><span
                                    style="font-size: 18px; color: rgb(28, 0, 0);"><strong>태화여자관</strong></span><span
                                    style="font-size: 18px; color: rgb(255, 255, 255);">을 세웠습니다.</span></p>
                            <h4 style="text-align: center;"><span
                                    style="font-size: 48px; color: rgb(255, 255, 255);">&quot;<strong>후원</strong>은 한
                                    사람을, 한 나라를 세울
                                    수 있습니다.&quot;</span></h4>
                            <p style="text-align: center;"><span
                                    style="font-size: 18px; color: rgb(255, 255, 255);">소외된
                                    이웃이
                                    없는 평화로운 세상으로 가는 길, 섬김과 나눔으로 여러분을 초대합니다.</span></p>
                            <p style="text-align: center;"><span style="color: rgb(255, 255, 255);"><u>&nbsp; &nbsp;
                                        &nbsp;
                                        &nbsp; &nbsp;</u></span></p>
                            <p style="text-align: center;"><br></p>
                            <div doz_type="widget" id="w2020042943f17881da82c">
                                <div class="_widget_data " data-widget-name="버튼" data-widget-type="button" data-widget-anim="none"
                                    data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                                    <div class="widget button txt_c">
                                        <div class="button_wrap ">
                                            <div class="inline-blocked "><a class=" btn btn_0c6dcb59c89f8   btn-default _fade_link  "
                                                    href="/about" style="margin: 0 40px 40px 0; border-radius:px">자세히 보기</a></div>
                                            <div class="inline-blocked "><a class=" btn btn_2Sf63CZ4SM   btn-primary _fade_link  "
                                                    href="/individual_donation" style="margin: 0 40px 40px 0; border-radius:px">후원하기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
