<style>
.section-email-subscribe {
    background-color: #000;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section .section-top-logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin: -30px 0 0 -30px;
    width: 60px;
    z-index: 1;
    background-color: yellow;
    padding: 1rem;
    color: #000;
}
.anim-fadeup.shown {
    opacity: 1;
    transform: translateY(0);
}
.anim-fadeup {
    opacity: 0;
    transform: translateY(100px);
    transition: all ease-in-out .5s;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.section .title {
    line-height: 1.2;
    font-weight: normal;
    margin: 0;
}
h5, .h5 {
    font-size: 36px;
}
.section-email-subscribe form {
    color: #666;
    text-align: left;
    margin-top: 40px;
}
.btn-whiteneon {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    transition: background-color .2s;
    border-width: 2px;
    box-shadow: none !important;
    padding: 16px 22px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
    font-weight: 500;
}
.desktop-elm .btn.btn-lg.btn-whiteneon {
    display: block;
}
.section-email-subscribe .agree-row {
    margin-top: 10px;
    font-size: 15px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    opacity: .3;
    position: relative !important;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -4px;
}

.section-email-subscribe .form-control {
    background: none;
    border-width: 3px 0;
    border-top-color: transparent;
    border-bottom-color: #777;
    color: #fff;
    padding: 0 5px;
}

input.form-control, textarea.form-control {
    -webkit-appearance: none;
}
.form-control {
    border: 2px solid #ddd;
    box-shadow: none !important;
}
.form-control {
    vertical-align: middle;
}
.input-lg {
    height: 60px;
    padding: 16px 22px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}
.section-email-subscribe form a,
.doz_sys .section-email-subscribe label {
    color: #999;
}
</style>
<div id="section-default-4" class="section section-email-subscribe ">
    <div class="section-top-logo anim-fadeup shown">
        <svg class="bi bi-newspaper" width="1.5em" height="1.5em" style="padding-top: .5rem;" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M0 2A1.5 1.5 0 0 1 1.5.5h11A1.5 1.5 0 0 1 14 2v12a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 0 14V2zm1.5-.5A.5.5 0 0 0 1 2v12a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5V2a.5.5 0 0 0-.5-.5h-11z" />
            <path fill-rule="evenodd"
                d="M15.5 3a.5.5 0 0 1 .5.5V14a1.5 1.5 0 0 1-1.5 1.5h-3v-1h3a.5.5 0 0 0 .5-.5V3.5a.5.5 0 0 1 .5-.5z" />
            <path
                d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z" />
        </svg>
    </div>

    <div class="container-fluid anim-fadeup shown">
        <div class="title h5">당신의 관심은 우리가<br class="hidden visible-xxs"> <strong>행동할 수 있는 힘</strong>입니다.</div>
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <form class="subscribe-form">
                    <div class="row row-gap-20">
                        <div class="col-md-3">
                            <input type="text" name="name" placeholder="이름" class="form-control input-lg required"
                                autocomplete="off">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="email" placeholder="이메일"
                                class="form-control input-lg required email" autocomplete="off">
                            <ul class="autosuffix"></ul>
                        </div>
                        <div class="col-md-3 desktop-elm">
                            <button type="submit" class="btn btn-whiteneon btn-lg btn-block">소식 받기</button>
                        </div>
                    </div>
                    <div class="agree-row">
                        <label class="checkbox-inline"><input type="checkbox" class="required checkbox-invert"
                                name="agree"> 개인정보 수집 및 이용에 동의합니다. <a
                                href="#"
                                target="_blank">[보기]</a></label>
                    </div>
                    <div class="mobile-elm mt-30">
                        <button type="submit" class="btn btn-whiteneon btn-lg btn-block">소식 받기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>