<div doz_type="section" class="section_wrap  pc_section side_basic grid_gutter_8 grid_v_gutter_8   "
id="s2020051535601488d8760" style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230"
doz_side_margin="0" doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N"
doz_footer_repeat="N" doz_category="contents">
<div class="section_bg _section_bg _interactive_bg  fixed_bg"
    style="background-image:url('https://cdn.imweb.me/thumbnail/20200514/61b8b007cbf11.jpg'); background-position:100% 100%;  background-size:cover; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
</div>
<div class="section_bg_color _section_bg_color"
    style="background-color:rgba(61, 61, 61, 0.45); -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#723d3d3d,endColorstr=#723d3d3d);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#723d3d3d,endColorstr=#723d3d3d);	zoom: 1; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
</div>



<main>
    <div doz_type="inside" class="inside"></div>
    <div doz_type="row" doz_grid="12" class="doz_row">
        <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20200515d358148112422">
                <div class="_widget_data " data-widget-name="여백" data-widget-type="padding" data-widget-anim=""
                    data-widget-anim-duration="" data-widget-anim-delay="" data-widget-parent-is-mobile="N">
                    <div class="widget padding" data-height="70" style="margin-top:px; margin-bottom:px;">
                        <div id="padding_w20200515d358148112422"
                            style="width:100%; min-height:1px; height:70px; "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div doz_type="row" doz_grid="12" class="doz_row">
        <div doz_type="grid" doz_grid="2" class="col-dz col-dz-2">
            <div doz_type="widget" id="w20200515b2bc964051e5a">
                <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                    data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                    data-widget-parent-is-mobile="N">
                    <div class="widget padding" data-height="30" style="margin-top:px; margin-bottom:px;">
                        <div id="padding_w20200515b2bc964051e5a"
                            style="width:100%; min-height:1px; height:30px; "></div>
                    </div>
                </div>
            </div>
        </div>
        <div doz_type="grid" doz_grid="8" class="col-dz col-dz-8">
            <div doz_type="widget" id="w20200515b7e8034bd7886">
                <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                    data-widget-anim="none" data-widget-anim-duration="" data-widget-anim-delay=""
                    data-widget-parent-is-mobile="N">
                    <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view  default_padding "
                        id="text_w20200515b7e8034bd7886">

                        <div class="text_bg_color" style="background-color: rgba(2, 1, 1, 0.45)"></div>
                        <div class="text-table holder">
                            <div>
                                <h4 style="text-align: center;"><span
                                        style="font-size: 42px; letter-spacing: -1px;">3.1 운동이 시작된 태화!<br>2019년
                                        독립운동 100년의 역사를 이어<br>2021년 사회복지 100년의 역사를 이어갑니다.</span></h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div doz_type="grid" doz_grid="2" class="col-dz col-dz-2">
            <div doz_type="widget" id="w2020051584d7d006fd304">
                <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                    data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                    data-widget-parent-is-mobile="N">
                    <div class="widget padding" data-height="27" style="margin-top:px; margin-bottom:px;">
                        <div id="padding_w2020051584d7d006fd304"
                            style="width:100%; min-height:1px; height:27px; "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div doz_type="row" doz_grid="12" class="doz_row">
        <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w202005153d7c80fe1c5a6">
                <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                    data-widget-anim="none" data-widget-anim-duration="" data-widget-anim-delay=""
                    data-widget-parent-is-mobile="N">
                    <div class="widget padding" data-height="41" style="margin-top:px; margin-bottom:px;">
                        <div id="padding_w202005153d7c80fe1c5a6"
                            style="width:100%; min-height:1px; height:41px; "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div doz_type="inside" class="inside">
        <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                <div doz_type="widget" id="w20200515e6af7ee11436f">
                    <div class="_widget_data " data-widget-name="가로선" data-widget-type="hr" data-widget-anim=""
                        data-widget-anim-duration="" data-widget-anim-delay="" data-widget-parent-is-mobile="N">
                        <div class="widget line type01 _hide" id="hr_w20200515e6af7ee11436f">
                            <div class="line_box holder" style="width:50px; center">
                                <hr style="border-top-width:3px; border-color:#ffffff;" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>