<div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s20200527e836c9c48343a"
		style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
		doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="contents">
		<div class="section_bg _section_bg _interactive_bg  fixed_bg"
			style=" background-position:50% 50%;  background-size:cover; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
		</div>
		<div class="section_bg_color _section_bg_color"
			style="background-color:rgba(244, 189, 24, 0.55); -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8cf4bd18,endColorstr=#8cf4bd18);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8cf4bd18,endColorstr=#8cf4bd18);	zoom: 1; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
		</div>



		<main>
			<div doz_type="inside" class="inside">
				<div doz_type="row" doz_grid="12" class="doz_row">
					<div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
						<div doz_type="widget" id="w202005276e2ab8caaf862">
							<div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
								data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
								data-widget-parent-is-mobile="N">
								<div class="widget padding" data-height="-2" style="margin-top:px; margin-bottom:px;">
									<div id="padding_w202005276e2ab8caaf862"
										style="width:100%; min-height:1px; height:-2px; "></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div doz_type="row" doz_grid="12" class="doz_row">
					<div doz_type="grid" doz_grid="1" class="col-dz col-dz-1">
						<div doz_type="widget" id="w2020052778c73564ee647">
							<div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
								data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
								data-widget-parent-is-mobile="N">
								<div class="widget padding" data-height="30" style="margin-top:px; margin-bottom:px;">
									<div id="padding_w2020052778c73564ee647"
										style="width:100%; min-height:1px; height:30px; "></div>
								</div>
							</div>
						</div>
					</div>
					<div doz_type="grid" doz_grid="2" class="col-dz col-dz-2">
						<div doz_type="row" doz_grid="2" class="doz_row">
							<div doz_type="grid" doz_grid="2" class="col-dz col-dz-2">
								<div doz_type="widget" id="w20200527d3c7974361be9">
									<div class="_widget_data " data-widget-name="이미지" data-widget-type="image"
										data-widget-anim="none" data-widget-anim-duration="0.7"
										data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
										<div
											class="widget image  _image_wrap text_position_bottom hover_text_position_bottom visibility hover_image_hidden org_size img_circle  hover_img_hide   same_overlay">
											<div id="caption_w20200527d3c7974361be9" style="display:none">
												<h4></h4>
											</div>
											<div class="_img_box img_wrap _image_widget_lightbox"
												data-src="https://cdn.imweb.me/upload/S20200420439dfe86de087/ed654d6f2171e.jpg"
												data-sub-html="#caption_w20200527d3c7974361be9"><img
													id="img_w20200527d3c7974361be9"
													src="https://cdn.imweb.me/thumbnail/20200527/5267c88bb22e1.jpg"
													style="visibility:hidden;image-rendering: -webkit-optimize-contrast;"
													class=" img-circle org_image" alt="" /></div>
										</div>



									</div>
								</div>
							</div>
						</div>
						<div doz_type="row" doz_grid="2" class="doz_row">
							<div doz_type="grid" doz_grid="2" class="col-dz col-dz-2">
								<div doz_type="widget" id="w2020052724504dfffc4e9">
									<div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
										data-widget-anim="none" data-widget-anim-duration="0.7"
										data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
										<div doz_type="text"
											class="widget _text_wrap widget_text_wrap fr-view  default_padding "
											id="text_w2020052724504dfffc4e9">

											<div class="text-table ">
												<div>
													<p style="text-align: center;"><span style="font-size: 22px;">대표이사
														</span><span style="font-size: 30px;">전명구</span></p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div doz_type="grid" doz_grid="1" class="col-dz col-dz-1">
						<div doz_type="widget" id="w20200527bbc8fa5676814">
							<div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
								data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
								data-widget-parent-is-mobile="N">
								<div class="widget padding" data-height="679" style="margin-top:px; margin-bottom:px;">
									<div id="padding_w20200527bbc8fa5676814"
										style="width:100%; min-height:1px; height:679px; "></div>
								</div>
							</div>
						</div>
					</div>
					<div doz_type="grid" doz_grid="7" class="col-dz col-dz-7">
						<div doz_type="row" doz_grid="7" class="doz_row">
							<div doz_type="grid" doz_grid="7" class="col-dz col-dz-7">
								<div doz_type="widget" id="w2020052721d1d5fec2ae7">
									<div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
										data-widget-anim="none" data-widget-anim-duration="0.7"
										data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
										<div class="widget padding" data-height="2"
											style="margin-top:px; margin-bottom:px;">
											<div id="padding_w2020052721d1d5fec2ae7"
												style="width:100%; min-height:1px; height:2px; "></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div doz_type="row" doz_grid="7" class="doz_row">
							<div doz_type="grid" doz_grid="7" class="col-dz col-dz-7">
								<div doz_type="widget" id="w20200527e7442e845037c">
									<div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
										data-widget-anim="none" data-widget-anim-duration="0.7"
										data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
										<div doz_type="text"
											class="widget _text_wrap widget_text_wrap fr-view  default_padding "
											id="text_w20200527e7442e845037c">

											<div class="text-table ">
												<div>
													<h5><strong><span
																style="font-size: 36px; color: rgb(61, 61, 61);">2019년을&nbsp;</span></strong><strong><span
																style="font-size: 36px; color: rgb(61, 61, 61);">돌아보며</span></strong>
													</h5>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div doz_type="row" doz_grid="7" class="doz_row">
							<div doz_type="grid" doz_grid="7" class="col-dz col-dz-7">
								<div doz_type="widget" id="w20200527fe8be8f517c24">
									<div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
										data-widget-anim="none" data-widget-anim-duration="0.7"
										data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
										<div doz_type="text"
											class="widget _text_wrap widget_text_wrap fr-view  default_padding "
											id="text_w20200527fe8be8f517c24">

											<div class="text-table ">
												<div>
													<p style="line-height: 1.2;"><span
															style="letter-spacing: -1px; font-size: 18px;">안녕하십니까.&nbsp;</span>
													</p>
													<p style="line-height: 1.2;"><span
															style="letter-spacing: -1px; font-size: 18px;">사회복지법인 감리회
															태화복지재단 전명구 대표이사입니다.&nbsp;</span></p>
													<p style="line-height: 1.2;"><span
															style="letter-spacing: -1px; font-size: 18px;"><br>지난 2019년은
															3.1 운동 100주년이 되는 해였습니다. </span></p>
													<p style="line-height: 1.2;"><span style="font-size: 18px;"><span
																style="letter-spacing: -1px;">당시, 이 나라와 민족을 위해 희생하고 헌신한
																민족대표들을 기억하며,&nbsp;</span></span></p>
													<p style="line-height: 1.2;"><span style="font-size: 18px;"><span
																style="letter-spacing: -1px;">태화복지재단은 서울시와 태화관길을 조성하고
																역사적 의미를 되새기기도 했습니다. <br><br>3.1운동이 일어난 후 2년 후인
																1921년,</span></span></p>
													<p style="line-height: 1.2;"><span
															style="font-size: 18px; line-height: 0.8;"><span
																style="letter-spacing: -1px;">당시 가장 소외받던 여성과 아동을 위해 우리나라
																최초의 사회복지기관 태화여자관이 세워졌습니다.</span></span></p>
													<p style="line-height: 1.2;"><span
															style="font-size: 18px; line-height: 0.8;"><span
																style="letter-spacing: -1px;">태화복지재단은 그렇게 시작되었고, 지금은 전국
																35개의 사회복지시설을 운영하며,</span></span></p>
													<p style="line-height: 1.2;"><span style="font-size: 18px;"><span
																style="letter-spacing: -1px;">캄보디아와 라오스에도 지역복지센터를 세워 소외된
																이웃들을 위한 사회복지사업을 펼치고 있습니다. <br><br>캄보디아 지부(Great Peace
																Cambodia)는 올해로 개관 10주년을 맞이하여 기념식과 세미나를
																개최했습니다.&nbsp;</span></span><span
															style="font-size: 18px;"><span
																style="letter-spacing: -1px;">GPC는 바탐벙 지역사회 스스로가 문제를
																해결하는 힘을 키워가도록 변화시켰고,</span></span></p>
													<p style="line-height: 1.2;"><span style="font-size: 18px;"><span
																style="letter-spacing: -1px;">현지직원들을 사회복지 전문가로 교육하고 성장시켜
																캄보디아의 새로운 미래를 준비했습니다.</span></span></p>
													<p style="line-height: 1.2;"><span style="font-size: 18px;"><span
																style="letter-spacing: -1px;"><br></span></span></p>
													<p style="line-height: 1.2;"><span style="font-size: 18px;"><span
																style="letter-spacing: -1px;">이 모든 것이 모두 여러분의 응원과 후원
																덕분이었습니다.&nbsp;<br><br>태화는 100년 전 이 나라와 민족을 위해 헌신한 민족대표들과
																선교사들의 숭고한 희생정신을 이어</span></span></p>
													<p style="line-height: 1.2;"><span style="font-size: 18px;"><span
																style="letter-spacing: -1px;">2021년 창립100주년을 향해
																나아가겠습니다.&nbsp;</span></span></p>
													<p style="line-height: 1.2;"><span style="font-size: 18px;"><span
																style="letter-spacing: -1px;"><br></span></span></p>
													<p style="line-height: 1.2;"><span style="font-size: 18px;"><span
																style="letter-spacing: -1px;">웹페이지로 정리한 2019년 연차보고서를 잘
																살펴주시기 바랍니다.&nbsp;</span></span></p>
													<p style="line-height: 1.2;"><span
															style="letter-spacing: -1px; font-size: 18px;">감사합니다.&nbsp;</span>
													</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div doz_type="row" doz_grid="12" class="doz_row">
					<div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
						<div doz_type="widget" id="w20200527da2f7608ce2e3">
							<div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
								data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
								data-widget-parent-is-mobile="N">
								<div class="widget padding" data-height="30" style="margin-top:px; margin-bottom:px;">
									<div id="padding_w20200527da2f7608ce2e3"
										style="width:100%; min-height:1px; height:30px; "></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>