<div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s20200514b59eb4c9bf8a1"
		style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
		doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="default">
    <div class="section_bg _section_bg _interactive_bg  "
        style="   background-size:cover; position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
    <div class="section_bg_color _section_bg_color"
        style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>



    <main>
        <div doz_type="inside" class="inside">
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20200515b4f07f30658a7">
                        <div class="_widget_data " data-widget-name="코드" data-widget-type="code"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div doz_type="section" class="section_wrap visual_section  pc_section     " id="s2020051425ea6952aea18"
		doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="visual"
		doz_fullpage="N" style="">
    <div class="visual_section  _visual_section   " id="visual_s2020051425ea6952aea18">
        <!-- 비주얼 영역이
없는 경우 .no-visual 추가 -->

        <!-- 비주얼 영역-->
        <div class="owl-carousel owl-theme _slide ">
            <div class='item holder section '
                style='background-image:url(https://cdn.imweb.me/thumbnail/20200514/a9dafb5edb7cb.jpg); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 0;'>
                <div class='op _op' style='position: relative;z-index: 11; '>
                    <div class='header-content _visual_height m_ratio'>
                        <div class='text _text_wrap'>
                            <div class='text-wrap _text fr-view'>
                                <p><br></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&quot;우리 동네에 대해 생각하고
                                            관심을 갖게 되었어요</span></strong><br><strong><span
                                            style="font-size: 22px; letter-spacing: 0px;">&nbsp; 제가 우리동네 변화의 일원이
                                            되었다는게 신기해요!&quot;</span></strong><br><br><span
                                        style="font-size: 14px; letter-spacing: 0px;">- &#39;다행&#39; 프로그램 참여자</span>
                                </p>
                                <p><br></p>
                                <p><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                                <p style="text-align: right;"><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='item holder section '
                style='background-image:url(https://cdn.imweb.me/thumbnail/20200514/6236c037b66db.jpg); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;'>
                <div class='op _op' style='position: relative;z-index: 11; '>
                    <div class='header-content _visual_height m_ratio'>
                        <div class='text _text_wrap'>
                            <div class='text-wrap _text fr-view'>
                                <p><br></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&quot;사랑으로 지켜보고
                                            기다려주시는 선생님들과</span></strong><br><strong><span
                                            style="font-size: 22px; letter-spacing: 0px;">&nbsp; 아름드리키움센터를 만난 건 제
                                            임생의 큰 행운이에요 !&quot;</span></strong></p>
                                <p><br></p>
                                <p><span style="font-size: 14px; letter-spacing: 0px;">- 아름드리키움센터 장애초등돌봄반 학부모</span>
                                </p>
                                <p style="text-align: justify;"><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='item holder section '
                style='background-image:url(https://cdn.imweb.me/thumbnail/20200514/cfcc5556bf81a.png); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;'>
                <div class='op _op' style='position: relative;z-index: 11; '>
                    <div class='header-content _visual_height m_ratio'>
                        <div class='text _text_wrap'>
                            <div class='text-wrap _text fr-view'>
                                <p><br></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&quot;활동을 하면서 발견한 마을의
                                            현안들이</span></strong></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&nbsp; 빠른 시일 내에
                                            해결되었으면 하는 바람이고,</span></strong></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&nbsp; 고령 친화 프로젝트를 통한
                                            다양한 활동들이 기대됩니다.&rdquo;&nbsp;</span></strong></p>
                                <p><br></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&ldquo;지금의 어르신분들께서
                                            계시기에</span></strong></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&nbsp;
                                            현재&nbsp;</span></strong><strong><span
                                            style="font-size: 22px; letter-spacing: 0px;">우리 젊은이가 있다는 걸
                                            명심하겠습니다.&rdquo;&nbsp;</span></strong></p>
                                <p><br></p>
                                <p style="text-align: justify;"><span
                                        style="font-size: 14px; letter-spacing: 0px;">- 고령 친화 프로젝트 프로그램 참가자</span>
                                </p>
                                <p><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='item holder section '
                style='background-image:url(https://cdn.imweb.me/thumbnail/20200514/a17c03ff75592.jpg); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;'>
                <div class='op _op' style='position: relative;z-index: 11; '>
                    <div class='header-content _visual_height m_ratio'>
                        <div class='text _text_wrap'>
                            <div class='text-wrap _text fr-view'>
                                <p><br></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&quot;장애인과 비장애인이 함께
                                            걷는 행사를 통해서&nbsp;</span></strong></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&nbsp; 서로의 눈높이를 맞추고
                                            이해하는 좋은 기회라고 생각됩니다.&nbsp;</span></strong></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&nbsp; 앞으로 20회, 30회,
                                            하늘공원과 노을공원이 있는 한&nbsp;</span></strong></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&nbsp;
                                            쭉&nbsp;</span></strong><strong><span
                                            style="font-size: 22px; letter-spacing: 0px;">계속 진행되었으면
                                            좋겠습니다.&rdquo;&nbsp;</span></strong></p>
                                <p><br></p>
                                <p><span style="font-size: 14px; letter-spacing: 0px;">- 마포거북이마라톤 참가자&nbsp;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='item holder section '
                style='background-image:url(https://cdn.imweb.me/thumbnail/20200514/15edcbe67d499.jpg); background-color:#dddddd; background-repeat : no-repeat; background-size : cover; background-position : 50% 50%;'>
                <div class='op _op' style='position: relative;z-index: 11; '>
                    <div class='header-content _visual_height m_ratio'>
                        <div class='text _text_wrap'>
                            <div class='text-wrap _text fr-view'>
                                <p><br></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&quot;취업이 쉽지 않아 생계가
                                            막막했는데,</span></strong><strong><span
                                            style="font-size: 22px; letter-spacing: 0px;">지역자활센터를
                                            통해&nbsp;</span></strong></p>
                                <p><strong><span style="font-size: 22px; letter-spacing: 0px;">&nbsp; 안정된 일자리와 고정수입이
                                            생겨서 희망이 생겼어요!&rdquo;&nbsp;</span></strong></p>
                                <p><br></p>
                                <p><span style="font-size: 14px; letter-spacing: 0px;">- 자활프로그램 참여자 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end.비주얼 영역 -->
    </div>
</div>