<div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s20200515294ffb86ef930"
		style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
		doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="contents">
    <div class="section_bg _section_bg _interactive_bg  "
        style="   background-size:cover; position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
    <div class="section_bg_color _section_bg_color"
        style="background-color:#fff;  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>



    <main>
        <div doz_type="inside" class="inside">
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20200527e558f882cf6a5">
                        <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div class="widget padding" data-height="30" style="margin-top:px; margin-bottom:px;">
                                <div id="padding_w20200527e558f882cf6a5"
                                    style="width:100%; min-height:1px; height:30px; "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="7" class="col-dz col-dz-7">
                    <div doz_type="row" doz_grid="7" class="doz_row">
                        <div doz_type="grid" doz_grid="7" class="col-dz col-dz-7">
                            <div doz_type="widget" id="w20200515ca42ad2334900">
                                <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                                    data-widget-anim="" data-widget-anim-duration="" data-widget-anim-delay=""
                                    data-widget-parent-is-mobile="N">
                                    <div class="widget padding" data-height="29"
                                        style="margin-top:px; margin-bottom:px;">
                                        <div id="padding_w20200515ca42ad2334900"
                                            style="width:100%; min-height:1px; height:29px; "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div doz_type="row" doz_grid="7" class="doz_row">
                        <div doz_type="grid" doz_grid="1" class="col-dz col-dz-1">
                            <div doz_type="widget" id="w20200527398f21adb09f3">
                                <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                                    data-widget-anim="none" data-widget-anim-duration="0.7"
                                    data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                                    <div class="widget padding" data-height="293"
                                        style="margin-top:px; margin-bottom:px;">
                                        <div id="padding_w20200527398f21adb09f3"
                                            style="width:100%; min-height:1px; height:293px; "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div doz_type="grid" doz_grid="6" class="col-dz col-dz-6">
                            <div doz_type="row" doz_grid="6" class="doz_row">
                                <div doz_type="grid" doz_grid="6" class="col-dz col-dz-6">
                                    <div doz_type="widget" id="w2020051534e38fb41dc6e">
                                        <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                                            data-widget-anim="" data-widget-anim-duration=""
                                            data-widget-anim-delay="" data-widget-parent-is-mobile="N">
                                            <div doz_type="text"
                                                class="widget _text_wrap widget_text_wrap fr-view  default_padding "
                                                id="text_w2020051534e38fb41dc6e">

                                                <div class="text-table ">
                                                    <div>
                                                        <h4 style="text-align: left;">국내 사회복지사업</h4>
                                                        <h6><span style="color: rgb(99, 99, 99);">전국 10개의 사업기관 / 35개
                                                                사회복지시설</span></h6>
                                                        <p><br></p>
                                                        <p><span style="color: rgb(130, 130, 130);">전국 10개의 사업기관 및
                                                                35개 사회복지시설을 운영하고 있습니다.&nbsp;</span></p>
                                                        <p><span style="color: rgb(130, 130, 130);"><span
                                                                    style="font-size: 16px;">전국 각 지역에서 가족/지역사회,
                                                                    아동/청소년, 노인, 장애인 4개 분야를 나누어</span></span></p>
                                                        <p><span style="color: rgb(130, 130, 130);"><span
                                                                    style="font-size: 16px;">전문적인 프로그램을 구성하고
                                                                    지원합니다.&nbsp;</span><br></span></p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div doz_type="row" doz_grid="6" class="doz_row">
                                <div doz_type="grid" doz_grid="2" doz_clear="Y"
                                    class="col-dz col-dz-2   col-xdz-clear">
                                    <div doz_type="widget" id="w202005157357f18815314">
                                        <div class="_widget_data " data-widget-name="버튼" data-widget-type="button"
                                            data-widget-anim="none" data-widget-anim-duration=""
                                            data-widget-anim-delay="" data-widget-parent-is-mobile="N">
                                            <div class="widget button txt_l">
                                                <div class="button_wrap ">
                                                    <div class="inline-blocked "><a
                                                            class=" btn btn_5b6287a530829  btn-lg  btn-default _fade_link  "
                                                            target="_blank"
                                                            href="http://www.taiwhafound.org/business/domestic/biz_intro"
                                                            style="margin: 0 12px 12px 0; border-radius:30px">국내사업 더
                                                            보기</a></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div doz_type="grid" doz_grid="4" doz_clear="Y"
                                    class="col-dz col-dz-4   col-xdz-clear">
                                    <div doz_type="widget" id="w20200527fcf389fb4fd84">
                                        <div class="_widget_data " data-widget-name="버튼" data-widget-type="button"
                                            data-widget-anim="none" data-widget-anim-duration=""
                                            data-widget-anim-delay="" data-widget-parent-is-mobile="N">
                                            <div class="widget button txt_l">
                                                <div class="button_wrap ">
                                                    <div class="inline-blocked "><a
                                                            class=" btn btn_5b6287a530829  btn-lg  btn-default  "
                                                            target="_blank"
                                                            href="https://taiwhafound.campaignus.me/download.cm?tk=YToyOntpOjA7czoxMzoiZTY1YTA2NjA1OTU1ZSI7aToxO3M6MjI6ImYyMDIwMDUyNzk4MDNhNzg4MmM0ODciO30="
                                                            style="margin: 0 10px 10px 0; border-radius:30px">사업 실적
                                                            보고서</a></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div doz_type="grid" doz_grid="4" class="col-dz col-dz-4">
                    <div doz_type="row" doz_grid="4" class="doz_row">
                        <div doz_type="grid" doz_grid="4" class="col-dz col-dz-4">
                            <div doz_type="widget" id="w202005159d78685f93e91">
                                <div class="_widget_data  animated wg_animated  Left " data-widget-name="이미지"
                                    data-widget-type="image" data-widget-anim="fadeInUp"
                                    data-widget-anim-duration="0.7" data-widget-anim-delay=""
                                    data-widget-parent-is-mobile="N">
                                    <div
                                        class="widget image  _image_wrap text_position_bottom hover_text_position_bottom visibility org_size img_circle     same_overlay">
                                        <div id="caption_w202005159d78685f93e91" style="display:none">
                                            <h4></h4>
                                        </div>
                                        <div class="_img_box img_wrap _image_widget_lightbox"
                                            data-src="https://cdn.imweb.me/upload/S20200420439dfe86de087/cd22b36904dbd.jpg"
                                            data-sub-html="#caption_w202005159d78685f93e91"><img
                                                id="img_w202005159d78685f93e91"
                                                src="https://cdn.imweb.me/thumbnail/20200515/631a708e67c47.jpg"
                                                style="visibility:hidden;image-rendering: -webkit-optimize-contrast;"
                                                class=" img-circle org_image" alt="" />
                                            <div class="overlay _overlay"></div>
                                            <div class="hover_overlay _hover_overlay"></div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div doz_type="row" doz_grid="4" class="doz_row">
                        <div doz_type="grid" doz_grid="4" class="col-dz col-dz-4">
                            <div doz_type="widget" id="w20200515c24fc53fa9795">
                                <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                                    data-widget-anim="none" data-widget-anim-duration="0.7"
                                    data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                                    <div class="widget padding" data-height="46"
                                        style="margin-top:px; margin-bottom:px;">
                                        <div id="padding_w20200515c24fc53fa9795"
                                            style="width:100%; min-height:1px; height:46px; "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div doz_type="row" doz_grid="12" class="doz_row">
            <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                <div doz_type="widget" id="w20200527a883e405a442e">
                    <div class="_widget_data " data-widget-name="가로선" data-widget-type="hr" data-widget-anim="none"
                        data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                        <div class="widget line type01 _hide" id="hr_w20200527a883e405a442e">
                            <div class="line_box holder" style="width:100%; ">
                                <hr style="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>