<div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s20200515e63e94c0714d5" style="; ;"
    doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N" doz_mobile_section="N"
    doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="default">
    <div class="section_bg _section_bg _interactive_bg  "
        style="   background-size:cover; position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
    <div class="section_bg_color _section_bg_color" style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <main>
        <div doz_type="inside" class="inside">
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20200515749bdad53219a">
                        <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div class="widget padding" data-height="22" style="margin-top:px; margin-bottom:px;">
                                <div id="padding_w20200515749bdad53219a"
                                    style="width:100%; min-height:1px; height:22px; "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w202005270084f73a2fff0">
                        <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view  default_padding "
                                id="text_w202005270084f73a2fff0">

                                <div class="text-table ">
                                    <div>
                                        <p style="text-align: center;"><span
                                                style="color: rgb(244, 189, 24);"><strong>2019년 총 사업비</strong></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w2020052710ebad3fe8ee1">
                        <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view  default_padding "
                                id="text_w2020052710ebad3fe8ee1">

                                <div class="text-table ">
                                    <div>
                                        <h1 style="text-align: center;">60,738,078,239<span
                                                style="font-size: 48px;">원</span></h1>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w2020051578dcdf7cd0a3c">
                        <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view  default_padding "
                                id="text_w2020051578dcdf7cd0a3c">

                                <div class="text-table ">
                                    <div>
                                        <h6 style="text-align: center;"><span
                                                style="color: rgb(244, 189, 24);"><strong>"태화와 함께 해주신 후원을 통해 모든 사업을 진행할
                                                    수 있었습니다."</strong></span></h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w202005154440e8a3013d4">
                        <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div class="widget padding" data-height="12" style="margin-top:px; margin-bottom:px;">
                                <div id="padding_w202005154440e8a3013d4"
                                    style="width:100%; min-height:1px; height:12px; "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20200528036b471dc64ea">
                        <div class="_widget_data " data-widget-name="코드" data-widget-type="code" data-widget-anim="none"
                            data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                            {{ partial "ar19/chart.html" . }}
                        </div>
                    </div>
                </div>
            </div>
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="3" class="col-dz col-dz-3">
                    <div doz_type="widget" id="w202005158c58d49875a7f">
                        <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div class="widget padding" data-height="24" style="margin-top:px; margin-bottom:px;">
                                <div id="padding_w202005158c58d49875a7f"
                                    style="width:100%; min-height:1px; height:24px; "></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div doz_type="grid" doz_grid="3" class="col-dz col-dz-3">
                    <div doz_type="widget" id="w20200515692539f383998">
                        <div class="_widget_data " data-widget-name="버튼" data-widget-type="button"
                            data-widget-anim="none" data-widget-anim-duration="" data-widget-anim-delay=""
                            data-widget-parent-is-mobile="N">
                            <div class="widget button txt_c">
                                <div class="button_wrap ">
                                    <div class="inline-blocked "><a
                                            class=" btn btn_5b6287a530829   btn-default _fade_link  " target="_blank"
                                            href="http://www.taiwhafound.org/management/finance_report"
                                            style="margin: 0 10px 10px 0; border-radius:30px">세부내역 보기</a></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div doz_type="grid" doz_grid="3" class="col-dz col-dz-3">
                    <div doz_type="widget" id="w2020051515c193ae27367">
                        <div class="_widget_data " data-widget-name="버튼" data-widget-type="button"
                            data-widget-anim="none" data-widget-anim-duration="" data-widget-anim-delay=""
                            data-widget-parent-is-mobile="N">
                            <div class="widget button txt_c">
                                <div class="button_wrap ">
                                    <div class="inline-blocked "><a class=" btn btn_5b6287a530829   btn-default  "
                                            target="_blank"
                                            href="/download.cm?tk=YToyOntpOjA7czoxMzoiYWE4YWEwMWZlYjg0ZSI7aToxO3M6MjI6ImYyMDIwMDUyN2ZiZmI4N2RlOGI3YzYiO30="
                                            style="margin: 0 10px 10px 0; border-radius:30px">감사보고서 보기</a></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div doz_type="grid" doz_grid="3" class="col-dz col-dz-3">
                    <div doz_type="widget" id="w20200515fe3073b9251f1">
                        <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div class="widget padding" data-height="30" style="margin-top:px; margin-bottom:px;">
                                <div id="padding_w20200515fe3073b9251f1"
                                    style="width:100%; min-height:1px; height:30px; "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>