<div doz_type="section" class="section_wrap  pc_section       side_basic     " id="s202005147de63551cccda"
		style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230" doz_side_margin="0" doz_extend="N"
		doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N" doz_footer_repeat="N" doz_category="contents">
    <div class="section_bg _section_bg _interactive_bg  fixed_bg"
        style="background-image:url('https://cdn.imweb.me/thumbnail/20200514/9ecf381c90300.jpg'); background-position:100% 50%;  background-size:cover; position: absolute;left: 0;top: 0;right: 0; bottom: 0;">
    </div>
    <div class="section_bg_color _section_bg_color"
        style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>



    <main>
        <div doz_type="inside" class="inside">
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20200514cdf9d7fdf062b">
                        <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div class="widget padding" data-height="290" style="margin-top:px; margin-bottom:px;">
                                <div id="padding_w20200514cdf9d7fdf062b"
                                    style="width:100%; min-height:1px; height:290px; "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="4" class="col-dz col-dz-4">
                    <div doz_type="widget" id="w20200514f40cff2dfb456">
                        <div class="_widget_data " data-widget-name="갤러리" data-widget-type="gallery2"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div class="widget _gallery_wrap ">
                                <div id="container_w20200514f40cff2dfb456"
                                    class="img_rendering slide_01 type_slide overlay_text container_border owl-carousel owl-theme owl-loaded gallery2  bg_contain"
                                    style="padding-bottom: 0">


                                    <div class="_item item_gallary " style="display: ; position: relative;"
                                        data-org="https://taiwhafound.campaignus.me/S20200420439dfe86de087/0e24ee4dff62f.jpg">
                                        <div id="caption_3941073" style="display:none">
                                            <h4></h4>
                                            <p></p>
                                        </div>

                                        <div class="item_container _item_container">
                                            <div class="img_wrap _img_wrap  no_content" id="gal_item_"
                                                style="background-image: url(https://cdn.imweb.me/thumbnail/20200514/b8a26899508da.jpg);; "
                                                data-bg="url(https://cdn.imweb.me/thumbnail/20200514/b8a26899508da.jpg)"
                                                data-src="https://cdn.imweb.me/thumbnail/20200514/b8a26899508da.jpg"
                                                data-sub-html="#caption_3941073" data-no="0"><img
                                                    src="https://cdn.imweb.me/thumbnail/20200514/883644f139ac5.jpg"
                                                    style="display: none;" alt="" /></div>
                                            <div class="text_wrap _text_wrap  _lightbox_item cursor_pointer"
                                                id="gal_item_3941073"
                                                data-src="https://cdn.imweb.me/thumbnail/20200514/b8a26899508da.jpg"
                                                data-sub-html="#caption_3941073" style="display: ">
                                                <p class="title"></p>
                                            </div>
                                            <div class="slide_overlay"></div>
                                        </div>
                                    </div>
                                </div>


                            </div>





                        </div>
                    </div>
                </div>
                <div doz_type="grid" doz_grid="8" class="col-dz col-dz-8">
                    <div doz_type="row" doz_grid="8" class="doz_row">
                        <div doz_type="grid" doz_grid="8" class="col-dz col-dz-8">
                            <div doz_type="widget" id="w20200514de6b477dcd580">
                                <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                                    data-widget-anim="none" data-widget-anim-duration="0.7"
                                    data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                                    <div class="widget padding" data-height="34"
                                        style="margin-top:px; margin-bottom:px;">
                                        <div id="padding_w20200514de6b477dcd580"
                                            style="width:100%; min-height:1px; height:34px; "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div doz_type="row" doz_grid="8" class="doz_row">
                        <div doz_type="grid" doz_grid="8" class="col-dz col-dz-8">
                            <div doz_type="widget" id="w202005141523238c5fa4e">
                                <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                                    data-widget-anim="none" data-widget-anim-duration="0.7"
                                    data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                                    <div doz_type="text"
                                        class="widget _text_wrap widget_text_wrap fr-view  default_padding "
                                        id="text_w202005141523238c5fa4e">

                                        <div class="text_bg_color" style="background-color: rgba(255, 255, 255, 0)">
                                        </div>
                                        <div class="text-table holder">
                                            <div>
                                                <h3><span
                                                        style="font-size: 60px; color: rgb(244, 189, 24);">홍보대사</span><span
                                                        style="font-size: 60px; color: rgb(255, 255, 255);"> | 배우
                                                        정동환</span></h3>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div doz_type="row" doz_grid="8" class="doz_row">
                        <div doz_type="grid" doz_grid="8" class="col-dz col-dz-8">
                            <div doz_type="widget" id="w20200514daeac5edbf8ff">
                                <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
                                    data-widget-anim="none" data-widget-anim-duration="0.7"
                                    data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                                    <div doz_type="text"
                                        class="widget _text_wrap widget_text_wrap fr-view  default_padding "
                                        id="text_w20200514daeac5edbf8ff">

                                        <div class="text-table ">
                                            <div>
                                                <h6><span style="color: rgb(252, 252, 252);"><strong><span
                                                                style="font-size: 26px;">이웃의 아픔을 함께 나누고, 내가 가진 작은 것을
                                                                함께 나눌 때&nbsp;</span></strong></span></h6>
                                                <h6><span style="font-size: 26px;"><strong><span
                                                                style="color: rgb(252, 252, 252);">많은 것을 배우고, 얻을 수
                                                                있다는 것을 전하는 사람이 되고 싶습니다.&nbsp;</span></strong></span>
                                                </h6>
                                                <h6><span style="font-size: 26px;"><span
                                                            style="color: rgb(252, 252, 252);"><strong>창립 100주년을
                                                                향해가는 태화복지재단과 함께해주세요!</strong></span></span><span
                                                        style="color: rgb(255, 232, 193); font-size: 26px;">&nbsp;</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div doz_type="row" doz_grid="8" class="doz_row">
                        <div doz_type="grid" doz_grid="8" class="col-dz col-dz-8">
                            <div doz_type="widget" id="w2020051573fa485d07f92">
                                <div class="_widget_data " data-widget-name="버튼" data-widget-type="button"
                                    data-widget-anim="none" data-widget-anim-duration="" data-widget-anim-delay=""
                                    data-widget-parent-is-mobile="N">
                                    <div class="widget button txt_r">
                                        <div class="button_wrap ">
                                            <div class="inline-blocked "><a
                                                    class=" btn btn_5b6287a530829  btn-lg  btn-default _fade_link  "
                                                    target="_blank" href="http://www.taiwhafound.org/donation/guide"
                                                    style="margin: 0 10px 10px 0; border-radius:30px">태화복지재단
                                                    후원하기</a></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div doz_type="row" doz_grid="12" class="doz_row">
                <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
                    <div doz_type="widget" id="w20200514edf1af3aa8b91">
                        <div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
                            data-widget-anim="none" data-widget-anim-duration="0.7" data-widget-anim-delay="0"
                            data-widget-parent-is-mobile="N">
                            <div class="widget padding" data-height="150" style="margin-top:px; margin-bottom:px;">
                                <div id="padding_w20200514edf1af3aa8b91"
                                    style="width:100%; min-height:1px; height:150px; "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div><iframe name="hidden_frame" id="hidden_frame" title="hidden frame" src="about:blank"
    style="position: absolute; left: -9999px; width: 1px; height: 1px; top:-9999px;"></iframe>
<div class="modal" id="cocoaModal" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal submodal" role="dialog" id="cocoaSubModal" aria-hidden="false" style="z-index: 17001">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>