{{/*  css 넣기  */}}
<div doz_type="row" doz_grid="12" class="doz_row">
    <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
        <div doz_type="widget" id="w202005155ed34c19c09aa">
            <div class="_widget_data " data-widget-name="코드" data-widget-type="code" data-widget-anim="none"
                data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                <style> @import "/ar19.css"; </style>
            </div>
        </div>
    </div>
</div>