<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h4 class="text-center" style="margin: 2rem 0">2019 수입</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="chart-container">
                        <canvas id="chart-area"></canvas>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="chart-legends"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h4 class="text-center" style="margin: 2rem 0">2019 지출</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="chart-container">
                        <canvas id="chart-area2"></canvas>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="chart-legends2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        36.83,
                        22.98,
                        3.75,
                        12.87,
                        2.27,
                        21.29
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                        window.chartColors.purple,
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    '보조금 <span class="hide">22,371,232,904원</span>',
                    '사회복지사업수입 <span class="hide">13,959,328,990원</span>',
                    '후원금 <span class="hide">2,277,746,139원</span>',
                    '수익사업수입 <span class="hide">7,817,563,507원</span>',
                    '기타수입 <span class="hide">1,381,076,428원</span>',
                    '이월금 <span class="hide">12,931,130,271원</span>',
                ]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index'
                },
                legend: {
                    position: 'right',
                    display: false,
                },
                legendCallback: function(chart) {
                    var text = [];
                    text.push('<ul class="legends ' + chart.id + '-legend list-unstyled pl-5">');
                    var data = chart.data;
                    var datasets = data.datasets;
                    var labels = data.labels;
                    if (datasets.length) {
                        for (var i = 0; i < datasets[0].data.length; ++i) {
                            text.push('<li class="legend-item"><span class="legend-badge" style="background-color:' + datasets[0].backgroundColor[i] + '"></span>');
                            if (labels[i]) {
                                // calculate percentage
                                var total = datasets[0].data.reduce(function(previousValue, currentValue, currentIndex, array) {
                                    return previousValue + currentValue;
                                });
                                var currentValue = datasets[0].data[i];
                                var percentage = Math.floor(((currentValue / total) * 100) + 0.5);

                                text.push(labels[i] + ' (' + percentage + '%)');
                            }
                            text.push('</li>');
                        }
                    }
                    text.push('</ul>');
                    return text.join('');
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return data.labels[tooltipItem.index].replace(/(<([^>]+)>)/ig,"");
                        }
                    }
                }
            }
        };

        var config2 = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        64.71,
                        0.88,
                        6.49,
                        2.69,
                        25.23,
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                    ],
                    label: 'Dataset 2'
                }],
                labels: [
                    '국내사업비 <span class="hide">39,302,069,556원</span>',
                    '해외사업비 <span class="hide">537,162,394원</span>',
                    '수익사업운영비 <span class="hide">3,942,983,770원</span>',
                    '법인사업비 및 운영비 <span class="hide">1,634,374,049원</span>',
                    '차기이월금 <span class="hide">15,321,488,470원</span>',
                ]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index'
                },
                legend: {
                    position: 'right',
                    display: false,
                },
                legendCallback: function(chart) {
                    var text = [];
                    text.push('<ul class="legends ' + chart.id + '-legend list-unstyled pl-5 mt-4">');
                    var data = chart.data;
                    var datasets = data.datasets;
                    var labels = data.labels;
                    if (datasets.length) {
                        for (var i = 0; i < datasets[0].data.length; ++i) {
                            text.push('<li class="legend-item"><span class="legend-badge" style="background-color:' + datasets[0].backgroundColor[i] + '"></span>');
                            if (labels[i]) {
                                // calculate percentage
                                var total = datasets[0].data.reduce(function(previousValue, currentValue, currentIndex, array) {
                                    return previousValue + currentValue;
                                });
                                var currentValue = datasets[0].data[i];
                                var percentage = Math.floor(((currentValue / total) * 100) + 0.5);

                                text.push(labels[i] + ' (' + percentage + '%)');
                            }
                            text.push('</li>');
                        }
                    }
                    text.push('</ul>');
                    return text.join('');
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return data.labels[tooltipItem.index].replace(/(<([^>]+)>)/ig,"");
                        }
                    }
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById('chart-area').getContext('2d');
            window.myPie = new Chart(ctx, config);
            document.getElementById('chart-legends').innerHTML = window.myPie.generateLegend();

            var ctx = document.getElementById('chart-area2').getContext('2d');
            window.myPie2 = new Chart(ctx, config2);
            document.getElementById('chart-legends2').innerHTML = window.myPie2.generateLegend();
        };
    });
</script>
<style>
.chart-container {
    position: relative; height:28vh; width:28vw; left: -8vw;
}
.legends {
    margin: 2rem 0;
}
.legend-item {
    padding: .2rem;
    font-size: 2rem;
}
.legend-badge {
    display: inline-block; margin-right: 1rem;  width: 1rem; height: 1rem;
}
@media (max-width: 767.98px) {
    .chart-container {
        position: relative; height:auto; width:auto; left: auto;
    }
    .legend-item {
        font-size: 14px;
    }
    .legends {
        text-align: center;
    }
}
</style>