<div id="site_alarm_slidemenu_container" class="notification-canvas-container">
    <div class="notification-canvas-backdrop" id="site_alarm_slidemenu_backdrop" style="display: none"></div>
    <div id="site_alarm_slidemenu" class="notification-canvas alarm-pane alarm_slide" style="">

        <div class="tse-scrollable _scroll_wrap">
            <div class="tse-content tab-content _is_tse_content" style="padding-top: 60px;">
                <div class="site-alarm-head _alarm_header">
                    <header id="site_alarm_title">알림</header>
                    <a href="javascript:;" class="btn btn-flat goback " onclick="ALARM_MENU.showAlarmSlide();"><i
                            class="btm bt-arrow-left" aria-hidden="true"></i><span class="sr-only">뒤로</span></a>
                </div>
                <div class="site-alarm-head _setting_header" style="display: none">
                    <header id="site_alarm_title_setting">알림 설정</header>
                    <a href="javascript:;" class="btn btn-flat goback "
                        onclick="ALARM_MENU.toggleAlarmSetting();"><i class="btm bt-arrow-left"
                            aria-hidden="true"></i><span class="sr-only">뒤로</span></a>
                </div>
                <div id="site_alarm_list_wrap" class="site_alarm_list_wrap">
                    <!--알림 리스트-->

                    <div id="site_alarm_tab" class="notify-body"></div>

                    <div id="site_alarm_more_btn" class="notify-body" style="display: none;">
                        <a class="tile more" href="javascript:;" onclick="ALARM_MENU.getHeaderAlarmList()">
                            <div class="tile-content">
                                더보기 </div>
                        </a>
                    </div>

                </div>
                <div id="site_alarm_setting_wrap" style="display: none;" class="site_alarm_setting_wrap">

                    <div class="offcanvas-block alarm-setting">
                        <div class="_scroll_wrap" id="site_alarm_menu_tap_wrap">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="notify-body">
                                        <a href="javascript:;" class="board-alaram tile">게시물 알림</a>
                                        <a class="tile" href="javascript:;"
                                            onclick="ALARM_MENU.changeAlarmSetting($(this),'','my_post')">
                                            <div class="tile-content">
                                                <div class="tile-text">
                                                    내 글 반응 <div class="text-sm text-gray-bright">내가 작성한 게시물이나 댓글에 다른
                                                        사람이 댓글이나 답글을 작성하면 알려줍니다.</div>
                                                    <div class="check ">
                                                        <div class="checkbox checkbox-styled">
                                                            <label>
                                                                <input title="내 글 반응" type="checkbox"
                                                                    value="ok"><span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="tile" href="javascript:;"
                                            onclick="ALARM_MENU.changeAlarmSetting($(this),'','notice')">
                                            <div class="tile-content">
                                                <div class="tile-text">
                                                    공지사항 <div class="text-sm text-gray-bright">사이트에서 보내는 중요한 공지를
                                                        실시간으로 알려줍니다.</div>
                                                    <div class="check">
                                                        <div class="checkbox checkbox-styled">
                                                            <label>
                                                                <input title="공지사항" type="checkbox"
                                                                    value="ok"><span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="site-alarm-body">

            <!--//알림 리스트-->
            <!--알림 설정-->

        </div>
    </div>
</div>
<!-- end#offcanvas-help -->
<div id="pc_slide_menu_wrap" class="pc_slide_menu_container" style="width: 0; visibility: hidden; display: none">
    <div id="pc_slide_menu" class="pc_slide_menu slide_menu _slide_menu">
        <button type="button" class="pc-navbar-toggle" onclick="PC_SLIDE_MENU.slideNavToggle();"><i
                class="btm bt-times"></i></button>
        <div class="pc_slide_menu_logo">
            <div class="pc_slide_menu_title"><a href="https://taiwhafound.campaignus.me/">태화복지재단</a></div>

        </div>
        <ul class="nav navbar-nav">
            <div class="viewport-nav pc _menu_wrap" style="position:relative">


                <li style="" class="depth-01   ">
                    <a class=" _fade_link " href="https://taiwhafound.campaignus.me/taewha" data-url="taewha"
                        data-has_child="Y" data-is_folder_menu="Y">
                        <span class="plain_name" data-hover="">소개 </span>
                    </a>
                </li>

                <li style="" class="depth-01   use_sub_name">
                    <a class=" _fade_link " href="https://taiwhafound.campaignus.me/actions" data-url="actions"
                        data-has_child="Y" data-is_folder_menu="N">
                        <span class="plain_name" data-hover="사업">사업</span>
                    </a>
                </li>

                <li style="" class="depth-01   ">
                    <a class=" _fade_link " href="https://taiwhafound.campaignus.me/support" data-url="support"
                        data-has_child="Y" data-is_folder_menu="Y">
                        <span class="plain_name" data-hover="">후원 </span>
                    </a>
                </li>

                <li style="" class="depth-01   ">
                    <a class=" _fade_link " href="https://taiwhafound.campaignus.me/news" data-url="news"
                        data-has_child="Y" data-is_folder_menu="Y">
                        <span class="plain_name" data-hover="">소식</span>
                    </a>
                </li>

                <li style="" class="depth-01   ">
                    <a class=" _fade_link " href="https://taiwhafound.campaignus.me/events" data-url="events"
                        data-has_child="N" data-is_folder_menu="N">
                        <span class="plain_name" data-hover="">태화 100년</span>
                    </a>
                </li>


            </div>
        </ul>

    </div>
</div>

<style>
    @import url("http://vendor-cdn.imweb.me/css/kakao.css");
    @import url("http://vendor-cdn.imweb.me/css/montserrat.css");
    @import url("http://vendor-cdn.imweb.me/css/montserrat.css");

    .pc_slide_menu_container {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        width: 0;
        right: 0;
        z-index: 9999;
        visibility: visible !important;
        display: block !important;
    }

    .pc_slide_menu_container .pc_slide_menu_title a {
        font-family: montserrat;
        font-size: 38px;
        color: #fff;
        word-wrap: break-word;
        letter-spacing: 0px;
        font-weight: bold;
        font-style: ;
    }

    .pc_slide_menu_container .slide_menu_backdrop {
        background: #000;
        opacity: .5;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1100;
    }

    .pc_slide_menu_container .pc-navbar-toggle {
        font-size: 16px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 9px 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.5);
    }

    .pc_slide_menu_container .pc-navbar-toggle:hover {
        color: #ffffff;
        ;
    }

    .pc_slide_menu_container .pc_slide_menu {
        min-width: 0;
        width: 300px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -300px;
        background: #2f2f2f;
        z-index: 9999;
        padding: 40px 0 0 0;
    }

    .pc_slide_menu_container .pc_slide_menu.animation {
        transition: transform 300ms ease 0s;
        transform: translate3d(0px, 0px, 0px);
    }

    .pc_slide_menu_container.slide_open .pc_slide_menu {
        transform: translate3d(300px, 0px, 0px);
        overflow-y: auto;
    }

    .pc_slide_menu_container.right-slide .pc_slide_menu {
        left: auto;
        right: -300px;
    }

    .pc_slide_menu_container.right-slide .pc_slide_menu.animation {
        transition: transform 300ms ease 0s;
        transform: translate3d(0px, 0px, 0px);
    }

    .pc_slide_menu_container.right-slide.slide_open .pc_slide_menu {
        transform: translate3d(-300px, 0px, 0px);
    }

    .pc_slide_menu_container .pc_slide_menu_logo {
        text-align: center;
        margin: 10px 0;
        padding: 0 24px;
    }

    .pc_slide_menu_container .pc_slide_menu_logo img {
        display: inline-block;
        max-width: 100%;
        height: 64px;
        margin-bottom: 6px;
        image-rendering: -webkit-optimize-contrast;

    }

    .pc_slide_menu_container .nav.navbar-nav {
        float: none;
        text-align: center;
        padding: 0 24px;
    }

    .pc_slide_menu .viewport-nav li.use_sub_name:hover>a>.plain_name:before {
        color: #ffffff;
        text-align: center;
    }

    .pc_slide_menu_container .nav.navbar-nav:before {
        content: '';
        display: inline-block !important;
        vertical-align: top;
    }

    .pc_slide_menu_container .nav.navbar-nav .viewport-nav {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .pc_slide_menu_container .viewport-nav li>a {
        font-family: montserrat, Kakao Light;
        font-size: 13px;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.5);
        padding: 2px 0;
        display: inline-block;
    }

    .pc_slide_menu_container .viewport-nav li {}

    .pc_slide_menu_container .viewport-nav li:first-child {
        margin-top: 0;
    }

    .pc_slide_menu_container .viewport-nav li>a:hover {
        color: #ffffff;
    }

    .pc_slide_menu_container .viewport-nav li.active>a {
        color: #ffffff;
    }
</style>
<div id="mobile_slide_menu_wrap" class="mobile_slide_menu_container">
    <div id="mobile_slide_menu" class="mobile_slide_menu slide_menu _slide_menu">
        <ul class="nav navbar-nav navbar-right">

            <div class="viewport-nav mobile _menu_wrap " style="position:relative">
                <!-- 모바일 메뉴서랍내 프로필 -->
                <input type='hidden' value='Y' id='imagepath' />


                <li style="" class="depth-01 ">
                    <a href="https://taiwhafound.campaignus.me/taewha" data-url="taewha" data-has_child="Y"
                        data-is_folder_menu="Y" class=" " onclick="">
                        <span class="plain_name" data-hover="">소개 </span>
                        <span class="_toggle_btn toggle-btn"></span>
                    </a>

                    <ul>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="about" data-has_child="Y" data-is_folder_menu="Y"
                                href="https://taiwhafound.campaignus.me/about" class=" " onclick="">
                                <span class="plain_name" data-hover="">태화복지재단은</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                            <ul>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="intro" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/intro" class=" " onclick="">
                                        <span class="plain_name" data-hover="">큰 평화, 아름다운 조화</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="history" data-has_child="Y" data-is_folder_menu="Y"
                                        href="https://taiwhafound.campaignus.me/history" class=" " onclick="">
                                        <span class="plain_name" data-hover="">태화의 역사</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                    <ul>

                                        <li class="depth-03 " style="">
                                            <a tabindex="-1" data-url="footsteps" data-has_child="N"
                                                data-is_folder_menu="N"
                                                href="https://taiwhafound.campaignus.me/footsteps" class=" "
                                                onclick="">
                                                <span class="plain_name" data-hover="">걸어온 길</span>
                                                <span class="_toggle_btn toggle-btn"></span>
                                            </a>

                                        </li>

                                        <li class="depth-03 " style="">
                                            <a tabindex="-1" data-url="taewha_stories" data-has_child="Y"
                                                data-is_folder_menu="N"
                                                href="https://taiwhafound.campaignus.me/taewha_stories" class=" "
                                                onclick="">
                                                <span class="plain_name" data-hover="">태화이야기</span>
                                                <span class="_toggle_btn toggle-btn"></span>
                                            </a>

                                        </li>

                                    </ul>

                                </li>

                            </ul>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="24" data-has_child="N" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/24" class=" " onclick="">
                                <span class="plain_name" data-hover="">태화의 정신</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="greetings" data-has_child="Y" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/greetings" class=" " onclick="">
                                <span class="plain_name" data-hover="">인사말</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="corporat" data-has_child="Y" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/corporat" class=" " onclick="">
                                <span class="plain_name" data-hover="">법인구성</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                            <ul>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="59" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/59" class=" " onclick="">
                                        <span class="plain_name" data-hover="">조직도</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="60" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/60" class=" " onclick="">
                                        <span class="plain_name" data-hover="">함께하는 사람들</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                            </ul>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="28" data-has_child="Y" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/28" class=" " onclick="">
                                <span class="plain_name" data-hover="">투명경영</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                            <ul>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="61" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/61" class=" " onclick="">
                                        <span class="plain_name" data-hover="">운영방침</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="62" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/62" class=" " onclick="">
                                        <span class="plain_name" data-hover="">재정보고(9페이지)</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="63" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/63" class=" " onclick="">
                                        <span class="plain_name" data-hover="">운영보고</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="64" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/64" class=" " onclick="">
                                        <span class="plain_name" data-hover="">연차보고서</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="65" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/65" class=" " onclick="">
                                        <span class="plain_name" data-hover="">태화클린신고센터</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                            </ul>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="corporate_identity" data-has_child="N"
                                data-is_folder_menu="N" href="https://taiwhafound.campaignus.me/corporate_identity"
                                class=" " onclick="">
                                <span class="plain_name" data-hover="">CI</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="location" data-has_child="N" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/location" class=" " onclick="">
                                <span class="plain_name" data-hover="">오시는 길</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                        </li>

                    </ul>

                </li>

                <li style="" class="depth-01 use_sub_name">
                    <a href="https://taiwhafound.campaignus.me/actions" data-url="actions" data-has_child="Y"
                        data-is_folder_menu="N" class=" " onclick="">
                        <span class="plain_name" data-hover="사업">사업</span>
                        <span class="_toggle_btn toggle-btn"></span>
                    </a>

                    <ul>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="31" data-has_child="Y" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/31" class=" " onclick="">
                                <span class="plain_name" data-hover="">국내사회복지사업</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                            <ul>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="66" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/66" class=" " onclick="">
                                        <span class="plain_name" data-hover="">가족·지역사회</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="67" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/67" class=" " onclick="">
                                        <span class="plain_name" data-hover="">아동·청소년</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="68" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/68" class=" " onclick="">
                                        <span class="plain_name" data-hover="">노인</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="69" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/69" class=" " onclick="">
                                        <span class="plain_name" data-hover="">장애인</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="70" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/70" class=" " onclick="">
                                        <span class="plain_name" data-hover="">사업기관</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                            </ul>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="32" data-has_child="Y" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/32" class=" " onclick="">
                                <span class="plain_name" data-hover="">해외사회복지사업</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                            <ul>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="71" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/71" class=" " onclick="">
                                        <span class="plain_name" data-hover="">해외사업개요</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="72" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/72" class=" " onclick="">
                                        <span class="plain_name" data-hover="">캄보디아 지부</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="73" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/73" class=" " onclick="">
                                        <span class="plain_name" data-hover="">라오스 지부</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                            </ul>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="33" data-has_child="Y" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/33" class=" " onclick="">
                                <span class="plain_name" data-hover="">사회복지연구소</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                            <ul>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="74" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/74" class=" " onclick="">
                                        <span class="plain_name" data-hover="">연구소 소개</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="75" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/75" class=" " onclick="">
                                        <span class="plain_name" data-hover="">연구사업/지원사업</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                            </ul>

                        </li>

                    </ul>

                </li>

                <li style="" class="depth-01 ">
                    <a href="https://taiwhafound.campaignus.me/support" data-url="support" data-has_child="Y"
                        data-is_folder_menu="Y" class=" " onclick="">
                        <span class="plain_name" data-hover="">후원 </span>
                        <span class="_toggle_btn toggle-btn"></span>
                    </a>

                    <ul>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="individual_donation" data-has_child="N"
                                data-is_folder_menu="N" href="https://taiwhafound.campaignus.me/individual_donation"
                                class=" " onclick="">
                                <span class="plain_name" data-hover="">후원으로 함께 </span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="35" data-has_child="N" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/35" class=" " onclick="">
                                <span class="plain_name" data-hover="">기업(단체) 함께</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="36" data-has_child="N" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/36" class=" " onclick="">
                                <span class="plain_name" data-hover="">캠페인</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="37" data-has_child="N" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/37" class=" " onclick="">
                                <span class="plain_name" data-hover="">기금 후원</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                        </li>

                    </ul>

                </li>

                <li style="" class="depth-01 ">
                    <a href="https://taiwhafound.campaignus.me/news" data-url="news" data-has_child="Y"
                        data-is_folder_menu="Y" class=" " onclick="">
                        <span class="plain_name" data-hover="">소식</span>
                        <span class="_toggle_btn toggle-btn"></span>
                    </a>

                    <ul>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="notices" data-has_child="N" data-is_folder_menu="N"
                                href="https://taiwhafound.campaignus.me/notices" class=" " onclick="">
                                <span class="plain_name" data-hover="">공지사항</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                        </li>

                        <li class="depth-02 " style="">
                            <a tabindex="-1" data-url="board" data-has_child="Y" data-is_folder_menu="Y"
                                href="https://taiwhafound.campaignus.me/board" class=" " onclick="">
                                <span class="plain_name" data-hover="">태화스토리</span>
                                <span class="_toggle_btn toggle-btn"></span>
                            </a>

                            <ul>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="stories" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/stories" class=" " onclick="">
                                        <span class="plain_name" data-hover="">섬김과 나눔 이야기</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="newsletter" data-has_child="N"
                                        data-is_folder_menu="N" href="https://taiwhafound.campaignus.me/newsletter"
                                        class=" " onclick="">
                                        <span class="plain_name" data-hover="">뉴스레터 </span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="press" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/press" class=" " onclick="">
                                        <span class="plain_name" data-hover="">보도자료</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                                <li class="depth-03 " style="">
                                    <a tabindex="-1" data-url="media" data-has_child="N" data-is_folder_menu="N"
                                        href="https://taiwhafound.campaignus.me/media" class=" " onclick="">
                                        <span class="plain_name" data-hover="">미디어자료실</span>
                                        <span class="_toggle_btn toggle-btn"></span>
                                    </a>

                                </li>

                            </ul>

                        </li>

                    </ul>

                </li>

                <li style="" class="depth-01 ">
                    <a href="https://taiwhafound.campaignus.me/events" data-url="events" data-has_child="N"
                        data-is_folder_menu="N" class=" " onclick="">
                        <span class="plain_name" data-hover="">태화 100년</span>
                        <span class="_toggle_btn toggle-btn"></span>
                    </a>

                </li>


            </div>
        </ul>
    </div>
    <button type="button" class="navbar-toggle close slide-close" onclick="MOBILE_SLIDE_MENU.slideNavToggle();"><i
            class="btm bt-times" aria-hidden="true"></i><span class="sr-only">닫기</span></button>

</div>
<ul class="dropdown-menu animation-dock member_profile" id="member_profile">
    <li class="dropdown-profile text-center">
        <a href="javascript:;" class="nav-btn-icon profile alarm-toggle _show_alarm"
            onclick="ALARM_MENU.showAlarmSlide();" id="slide-alarm"
            style="right: 0; position:absolute; right: 0; top:0; font-size:20px; padding:20px; "><i
                class="icon-bell"></i><span class="sr-only">Alarm</span></a>
        <span class="profile-info">
            <div onclick="SITE_MEMBER.editProfile()">
                <img src="https://taiwhafound.campaignus.me/common/img/default_profile.png"
                    class="img-circle dropdown-avatar-big _profile_img" alt="프로필 이미지">
            </div>
            <div class="sm-padding no-padding-bottom">
            </div>
        </span>
    </li>
    <li class="profile-footer btn-group-justified">
        <a href="javascript:;" onclick="SITE_MEMBER.editProfile()" class="btn btn-flat">정보 수정</a>
        <a href="https://taiwhafound.campaignus.me/logout.cm?back_url=L2FubnVhbC1yZXBvcnQtMjAxOQ%3D%3D"
            class="btn btn-flat right">로그아웃</a>
    </li>
</ul>

<div doz_type="section"
		class="section_wrap  pc_section    section_first _section_first   mobile_section_first    side_basic     "
		id="s2020042825c7e8344cef4" style="; ;" doz_change_mobile="N" doz_aside="N" doz_side_width="230"
		doz_side_margin="0" doz_extend="N" doz_mobile_section="N" doz_mobile_hide="N" doz_header_repeat="N"
		doz_footer_repeat="N" doz_category="default">
		<div class="section_bg _section_bg _interactive_bg  "
			style="   background-size:cover; position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>
		<div class="section_bg_color _section_bg_color"
			style="  position: absolute;left: 0;top: 0;right: 0; bottom: 0;"></div>



		<main>
			<div doz_type="inside" class="inside">
				<div doz_type="row" doz_grid="12" class="doz_row">
					<div doz_type="grid" doz_grid="3" class="col-dz col-dz-3">
						<div doz_type="row" doz_grid="3" class="doz_row">
							<div doz_type="grid" doz_grid="3" class="col-dz col-dz-3">
								<div doz_type="widget" id="w202004282c635fd643314">
									<div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
										data-widget-anim="none" data-widget-anim-duration="0.7"
										data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
										<div class="widget padding" data-height="-4"
											style="margin-top:px; margin-bottom:px;">
											<div id="padding_w202004282c635fd643314"
												style="width:100%; min-height:1px; height:-4px; "></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div doz_type="row" doz_grid="3" class="doz_row">
							<div doz_type="grid" doz_grid="3" class="col-dz col-dz-3">
								<div doz_type="widget" id="w20200514fd318b7a46800">
									<div class="_widget_data " data-widget-name="이미지" data-widget-type="image"
										data-widget-anim="none" data-widget-anim-duration="0.7"
										data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
										<div
											class="widget image  _image_wrap text_position_bottom hover_text_position_bottom visibility hover_image_hidden org_size  hover_img_hide   same_overlay">
											<a href="https://taiwhafound.campaignus.me/annual-report-2019"
												style="display:block;" class="_fade_link ">
												<div class="_img_box img_wrap "><img id="img_w20200514fd318b7a46800"
														src="https://cdn.imweb.me/thumbnail/20200515/d744e62aae39d.jpg"
														style="visibility:hidden;image-rendering: -webkit-optimize-contrast;"
														class=" org_image" alt="" /></div>
											</a></div>



									</div>
								</div>
							</div>
						</div>
					</div>
					<div doz_type="grid" doz_grid="9" class="col-dz col-dz-9">
						<div doz_type="row" doz_grid="9" class="doz_row">
							<div doz_type="grid" doz_grid="9" class="col-dz col-dz-9">
								<div doz_type="widget" id="w2020051468e3f966ff046">
									<div class="_widget_data " data-widget-name="여백" data-widget-type="padding"
										data-widget-anim="none" data-widget-anim-duration="0.7"
										data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
										<div class="widget padding" data-height="41"
											style="margin-top:px; margin-bottom:px;">
											<div id="padding_w2020051468e3f966ff046"
												style="width:100%; min-height:1px; height:41px; "></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div doz_type="row" doz_grid="9" class="doz_row">
							<div doz_type="grid" doz_grid="9" class="col-dz col-dz-9">
								<div doz_type="widget" id="w202005143ef946e5ad495">
									<div class="_widget_data " data-widget-name="텍스트" data-widget-type="text"
										data-widget-anim="none" data-widget-anim-duration="0.7"
										data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
										<div doz_type="text"
											class="widget _text_wrap widget_text_wrap fr-view  default_padding "
											id="text_w202005143ef946e5ad495">

											<div class="text-table ">
												<div>
													<p style="text-align: right;"><span style="font-size: 22px;"><span
																style="color: rgb(244, 189, 24);"><strong><a
																		href="#s20200527e836c9c48343a">2019
																		연차보고서</a></strong></span><strong>&nbsp;&nbsp;</strong><strong>&nbsp;
																&nbsp; <a href="#s20200514b59eb4c9bf8a1">&nbsp;변화의
																	스토리</a>&nbsp; &nbsp; <a
																	href="#s20200514075780a1718c2">&nbsp;</a>&nbsp; <a
																	href="#s20200515294ffb86ef930">국내외 사업현황</a>&nbsp;
																&nbsp; &nbsp; <a
																	href="#s20200514075780a1718c2">&nbsp;</a></strong><a
																href="#s20200515e63e94c0714d5"><strong>후원 및 재정
																	현황</strong></a></span></p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div doz_type="inside" class="inside"></div>
		</main>
</div>