<!-- 게시판 롤링 영역
<div id="rolling_board_section"></div>
현재 코드블락에 직접 복붙해야함.
 -->

<div id="section-4" class="section">
    <div class="container-fluid">
        <div class="row row-gap-0">
            <div class="col-md-6" style="border-right: 5px solid #f0f0f0">
                <div id="home-notice-feed" class="feed clearfix">
                    <h3>공지사항</h3>
                    <div class="rolling-list">
                        <ul class="bcp-slider ready">
                            <li><a class="text-ellipsis" href="https://taiwhafound.campaignus.me/notices/?idx=3764787&bmode=view">사회복지법인 감리회 태화복지재단 부산기독교사회복지관 관장 채용 공고</a></li>
                            <li><a class="text-ellipsis" href="https://taiwhafound.campaignus.me/notices/?idx=3764783&bmode=view">태화복지재단 2020년 제10기 월드프렌즈NGO 봉사단원(캄보디아, 라오스) 모집(~12/31)</a></li>
                            <li><a class="text-ellipsis" href="https://taiwhafound.campaignus.me/notices/?idx=3764781&bmode=view">2020년 태화복지재단 제1차 이사회 회의록 공개</a></li>
                            <li><a class="text-ellipsis" href="https://taiwhafound.campaignus.me/notices/?idx=3764777&bmode=view">기획사무국 해외사업과 직원 채용(계약직) 서류심사 결과</a></li>
                            <li><a class="text-ellipsis" href="https://taiwhafound.campaignus.me/notices/?idx=3761565&bmode=view">2019년 기부금 영수증 발급 안내</a></li>
                            <li><a class="text-ellipsis" href="https://taiwhafound.campaignus.me/notices/?idx=3761558&bmode=view">빌딩관리사무소 전기과 직원 채용 서류심사 결과</a></li>
                        </ul>
                        <nav>
                            <a><span class="icon icon-arrow-up"></span></a>
                            <a><span class="icon icon-arrow-down"></span></a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="home-group-feed" class="feed clearfix">
                    <h3>소식</h3>
                    <div class="rolling-list">
                        <ul class="bcp-slider ready">
                            <li><a class="text-ellipsis" href="https://taiwhafound.campaignus.me/media/?idx=3764731&bmode=view">태화복지재단 창립 94주년 기념 감사예배</a></li>
                            <li><a class="text-ellipsis" href="https://taiwhafound.campaignus.me/media/?idx=3764724&bmode=view">[카카오같이가치]캄보디아 아동교실을 꾸며주세요!</a></li>
                            <li><a class="text-ellipsis" href="https://taiwhafound.campaignus.me/media/?idx=3764713&bmode=view">태화복지재단 홍보영상</a></li>
                            <li><a class="text-ellipsis" href="https://taiwhafound.campaignus.me/stories/?idx=3761673&bmode=view">[캄보디아] 현지 직원 사회복지교육 실시</a></li>
                        </ul>
                        <nav>
                            <a><span class="icon icon-arrow-up"></span></a>
                            <a><span class="icon icon-arrow-down"></span></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 별도의 modification 파일에 js/css 로드됨 -->
<!-- 

<script>
$(function(){

$('.rolling-list').each(function(){
    console.log($('ul', this));
    var slider = $('ul', this).bxSlider({
        mode: 'vertical',
        minSlides: 2,
        pager: false,
        controls: false,
    });
    
    $('nav a:eq(0)', this).click(function(e){
        e.preventDefault();
        slider.goToPrevSlide();
        slider.stopAuto();
    });
    $('nav a:eq(1)', this).click(function(e){
        e.preventDefault();
        slider.goToNextSlide();
        slider.stopAuto();
    });
});

});
</script>
<style>
#section-4 {
    margin-top: 100px;
    background: #f0f0f0;
    padding: 60px 0;
}
#section-4 ul {
    padding-left:0;
}
.row-gap-0 {
    margin-left: 0;
    margin-right: 0;
}
.row-gap-0>[class*=col-] {
    padding-left: 0;
    padding-right: 0;
}
#section-4 .container-fluid {
    max-width: 1400px;
}
#section-4 > div > div {
    border: 1px solid #e0e0e0;
    background: #fff;
    position: relative;
}
#section-4 .feed h3 {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 0;
    line-height: 56px;
    margin: 0;
}
#section-4 .feed {
    position: relative;
    margin: 35px 60px;
    padding-left: 120px;
}
#section-4 .feed {
    position: relative;
    margin: 35px 60px;
    padding-left: 120px;
}
#section-4 .feed .rolling-list li a {
    display: block;
    text-align: left;
    color: #666;
    line-height: 56px;
    text-decoration: none;
    margin-right: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
}
#section-4 .feed .rolling-list nav {
    position: absolute;
    right: 0;
    top: 18px;
}
#section-4 .feed .rolling-list nav a {
    font-size: 10px;
    display: block;
    width: 36px;
    line-height: 36px;
    text-align: center;
    color: #666;
    cursor: pointer;
}
.icon {
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none !important;
    transition: color .1s ease-in 0;
    margin-top: -1px;
}
.text-ellipsis, .multitext-ellipsis-1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
</style>
 -->