<div class="container">
    <div class="anchor-tab" style="width: max-content; margin: 0 auto;">
        <a href="#2000"><span>2000년 ~ 현재</span></a>
        |
        <a href="#1980"><span>1999 ~ 1980</span></a>
        |
        <a href="#1950"><span>1979 ~ 1950</span></a>
        |
        <a href="#1921"><span>1949 ~ 1921</span></a>
    </div>
    <div class="page-header">
		<h6 id="2000">태화, 지경을 넓히다!</h6>
	</div>
	<div id="timeline">
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2019</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">캄보디아 바탐벙 태화지역복지센터 개관 10주년</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2018</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">태화 창립 100주년 기념사업 준비 등을 위한 ‘법인 발전을 위한 TFT’ 구성</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2016</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">유엔 경제사회이사회(UN ECOSOC) 특별 협의지위 획득</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2015</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">해외사업성과연구보고서 발간</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2014</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">정동환 홍보대사 위촉</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2013</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">태화샘솟는집 신축이전</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge"></div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">라오스 비엔티엔 태화지역복지센터 개관</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge"></div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">태화빌딩환경개선공사 준공</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2011</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">광산구행복나루노인복지관 위탁</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2010</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">공주기독교사회복지관 증·개축</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2009</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">캄보디아 바탐벙 태화지역복지센터 개관</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge"></div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">마포장애인종합복지관 위탁</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2007</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">모로코 티플렛 마을 시민의 집 시범 운영사업 실시(~2009)</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2006</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">태화사회복지연구소 개소</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2004</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">대전기독교사회복지관 신축이전</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row timeline-movement">
            <div class="timeline-badge"></div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">사회복지법인 감리회 태화복지재단으로 법인 명칭 변경</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">2003</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">인천기독교사회복지관 신축 이전</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="page-header">
        <h6 id="1980">태화, 청년의 힘으로 성장하다.</h6>
    </div>
    <div id="timeline">
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1995</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">태화기독교사회복지관 신축이전</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1992</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">장안종합사회복지관 위탁</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge"></div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">공주기독교사회복지관 신축</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1989</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">은평종합사회복지관 위탁</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1986</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">태화 샘솟는 집 개관</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1982</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">수익사업을 위해 태화빌딩 신축</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1980</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">태화, 유린, 인천, 대전, 공주, 부산 6개의 감리교 사회관이 사회복지법인 기독교대한감리회 사회사업 유지재단 설립</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="page-header">
        <h6 id="1950">태화, 기틀을 다지다.</h6>
    </div>
    <div id="timeline">
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1954</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">마포유린기독교사회관 개관 (웜즈 선교사)</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1953</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">대전기독교사회관 개관 (레어드 선교사)</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1952</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">부산기독교사회관 개관 (타운센드 선교사)</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="page-header">
        <h6 id="1921">태화, 깊은 뿌리를 내리다.</h6>
    </div>
    <div id="timeline">
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1949</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">인천기독교사회관 개관 (보일즈 선교사)</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1924</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">공주중앙영아원 개관 (보딩 선교사)</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row timeline-movement">
            <div class="timeline-badge year-badge">
                <span class="timeline-balloon-date-year">1921</span>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="causale">한국 최초의 사회복지기관 태화여자관 개관 (마이어스 선교사)</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>