<!DOCTYPE html>
<html lang="ko">

{{ partial "head.html" . }}

<body class="page_ready doz_sys _body_menu_m20200420de6e1e44cb2ea mobile-nav-on  mobile_nav_dep1 new_header_overlay_mobile page new_header_site loggedin" id="doz_body">

  {{ partial "header/admin_navs.html" . }}

  {{ partial "header/navbar.html" . }}

  {{ partial "front/1-main-slides.html" . }}
  
  {{/*  {{ partial "front/2-section-image-thf.html" . }}  */}}

  {{/*  {{ partial "front/3-section-image-mobile.html" . }}  */}}

  {{/*  {{ partial "front/4-donation.html" . }}  */}}

  {{/*  css 넣기  */}}
  <div doz_type="row" doz_grid="12" class="doz_row">
    <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
      <div doz_type="widget" id="w202005155ed34c19c09aa">
        <div class="_widget_data " data-widget-name="코드" data-widget-type="code" data-widget-anim="none"
          data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
          <style> @import "//taiwhafound.durumi.io/modification.css"; </style>
        </div>
      </div>
    </div>
  </div>

  {{ partial "front/5-recent-blocks.html" . }}

  <div class="container">
    <main>
      <div doz_type="row" doz_grid="12" class="doz_row">
        <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
          <div doz_type="widget" id="w20200429c9467e985c985">
            <div class="_widget_data " data-widget-name="여백" data-widget-type="padding" data-widget-anim="none"
              data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
              <div class="widget padding" data-height="30" style="margin-top:px; margin-bottom:px;">
                <div id="padding_w20200429c9467e985c985" style="width:100%; min-height:1px; height:30px; "></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div doz_type="row" doz_grid="12" class="doz_row">
        <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
          <div doz_type="widget" id="w20200429034f8c29f7108">
            <div class="_widget_data " data-widget-name="가로선" data-widget-type="hr" data-widget-anim="none"
              data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
              <div class="widget line type01 _hide" id="hr_w20200429034f8c29f7108">
                <div class="line_box holder" style="width:100%; ">
                  <hr style="border-top-width:9px; border-color:rgba(0, 0, 0, 0.05);" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="6" class="col-dz col-dz-6">
            <div doz_type="row" doz_grid="6" class="doz_row">
              <div doz_type="grid" doz_grid="6" class="col-dz col-dz-6">
                <div doz_type="widget" id="w202004248c8bc05b67f9b">
                  <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text" data-widget-anim="none"
                    data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                    <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view  default_padding "
                      id="text_w202004248c8bc05b67f9b">
                      <div class="text-table ">
                        <div>
                          <p style="text-align: center;"><span
                              style="font-size: 20px; color: rgb(114, 114, 114);"><strong>소식</strong></span></p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div doz_type="row" doz_grid="6" class="doz_row">
              <div doz_type="grid" doz_grid="6" class="col-dz col-dz-6">
                <div doz_type="widget" id="w2020042419116ae853e65">
                  <div class="_widget_data " data-widget-name="최신글" data-widget-type="newest" data-widget-anim="none"
                    data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                    <div class="widget">
                      <div class="list-style-gallery grid_02 type_grid img_border" id="newest_w2020042419116ae853e65">

                        <!-- 카드형  -->
                        <div class='list-style-card table-cell _card_wrap'>
                          <div class="ma-item _post_item_wrap">
                            <div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
                              <a class="holder blocked _fade_link" href="/media/?idx=3764731&bmode=view">
                                <div class="card_wrapper f "
                                  style="background-image: url(https://cdn.imweb.me/thumbnail/20200427/9b41bb1339e15.jpg);  background-size: cover; background-position: 50% 50%;">
                                  <div class="card-head _card_head _img_wrap">
                                    <span></span>
                                  </div>
                                </div>
                                <div class="card-body _card_body list-group">
                                  <div class="title title-block">
                                    태화복지재단 창립 94주년 기념 감사예배
                                  </div>
                                  <div class="text text-block show_body">
                                    <span>태화복지재단 창립 94주년 기념 감사예배여는 찬양 본부직원찬양팀사회 이명자 / 마포장애인종합복지관장기도 김태진/ 공주기독교사회복지관장특별찬양
                                      기쁜 노래 펼침 &rdquo;영원히 찬</span>
                                  </div>
                                </div>
                                <div class="card-foot _card_foot clearfix">
                                  <div class="float_l">
                                    <small class="cmt like_btn " name="newest_like_btn_p20200427889d59fb58634"
                                      style="display: none"
                                      onclick="newestClickLike('p20200427889d59fb58634', $('#like_token_key_p20200427889d59fb58634').val(), $('#like_token_p20200427889d59fb58634').val()); return false;">
                                      <div class="_token_obj" data-type="newest_grid_list_like">
                                        <input type="hidden" id="like_token_key_p20200427889d59fb58634"
                                          class="_tk_obj" />
                                        <input type="hidden" id="like_token_p20200427889d59fb58634"
                                          class="_tk_key_obj" />
                                      </div>
                                      <i aria-hidden="true" class="btm bt-heart vertical-middle"></i>
                                      <em name="newest_like_count_p20200427889d59fb58634">0</em>
                                    </small>
                                    <small class="cmt" style="display: none">
                                      <i aria-hidden="true" class="icon-bubble vertical-middle comment_ico"></i>
                                      0 </small>
                                  </div>
                                </div>
                                <div class="card-summary _card_summary">
                                  <div class="avatar">
                                    <div class="img_wrap" style="display: ">
                                      <img src="/common/img/default_profile.png" alt=""> </div>
                                    <div class="tools">
                                      <div class="writer">
                                        관리자 </div>
                                      <small class="date" title="2020-04-27 20:43" style="display: ">
                                        2020-04-27 </small>
                                      <small style="display: none">
                                        <i aria-hidden="true" style="font-style: normal;">조회</i>
                                        3 </small>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class='list-style-card table-cell _card_wrap'>
                          <div class="ma-item _post_item_wrap">
                            <div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
                              <a class="holder blocked _fade_link" href="/media/?idx=3764724&bmode=view">
                                <div class="card_wrapper f "
                                  style="background-image: url(https://cdn.imweb.me/thumbnail/20200427/ef8a602853cd3.jpg);  background-size: cover; background-position: 50% 50%;">
                                  <div class="card-head _card_head _img_wrap">
                                    <span>
                                    </span>
                                  </div>
                                </div>
                                <div class="card-body _card_body list-group">
                                  <div class="title title-block">
                                    [카카오같이가치]캄보디아 아동교실을 꾸며주세요!
                                  </div>
                                  <div class="text text-block show_body">
                                    <span>[정동환 홍보대사의 캠페인 응원영상]배우 정동환과 함께하는 캄보디아 아동교실 꾸미기&quot;하나의 연극을 무대에 올리기 위해서많은 이들의
                                      수고와 헌신이 필요하듯,아이들의 꿈이 자</span>
                                  </div>
                                </div>
                                <div class="card-foot _card_foot clearfix">
                                  <div class="float_l">
                                    <small class="cmt like_btn " name="newest_like_btn_p202004274d99b8fe2c4cd"
                                      style="display: none"
                                      onclick="newestClickLike('p202004274d99b8fe2c4cd', $('#like_token_key_p202004274d99b8fe2c4cd').val(), $('#like_token_p202004274d99b8fe2c4cd').val()); return false;">
                                      <div class="_token_obj" data-type="newest_grid_list_like">
                                        <input type="hidden" id="like_token_key_p202004274d99b8fe2c4cd"
                                          class="_tk_obj" />
                                        <input type="hidden" id="like_token_p202004274d99b8fe2c4cd"
                                          class="_tk_key_obj" />
                                      </div>
                                      <i aria-hidden="true" class="btm bt-heart vertical-middle"></i>
                                      <em name="newest_like_count_p202004274d99b8fe2c4cd">0</em>
                                    </small>
                                    <small class="cmt" style="display: none">
                                      <i aria-hidden="true" class="icon-bubble vertical-middle comment_ico"></i>
                                      0 </small>
                                  </div>
                                </div>
                                <div class="card-summary _card_summary">
                                  <div class="avatar">
                                    <div class="img_wrap" style="display: ">
                                      <img src="/common/img/default_profile.png" alt=""> </div>
                                    <div class="tools">
                                      <div class="writer">
                                        관리자 </div>
                                      <small class="date" title="2020-04-27 20:42" style="display: ">
                                        2020-04-27 </small>
                                      <small style="display: none">
                                        <i aria-hidden="true" style="font-style: normal;">조회</i>
                                        4 </small>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class='list-style-card table-cell _card_wrap'>
                          <div class="ma-item _post_item_wrap">
                            <div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
                              <a class="holder blocked _fade_link" href="/media/?idx=3764713&bmode=view">
                                <div class="card_wrapper f "
                                  style="background-image: url(https://cdn.imweb.me/thumbnail/20200427/3713ed8cd41fb.jpg);  background-size: cover; background-position: 50% 50%;">
                                  <div class="card-head _card_head _img_wrap">
                                    <span>
                                    </span>
                                  </div>
                                </div>
                                <div class="card-body _card_body list-group">
                                  <div class="title title-block">
                                    태화복지재단 홍보영상
                                  </div>
                                  <div class="text text-block show_body">
                                    <span>여성과 아동중심의 사업을 시작으로1921년, 우리나라 최초의 사회복지기관으로 세워진 태화는기독교의 섬김과 나눔 정신을 바탕으로소외된 이웃을
                                      위해 다양한 사회복지사업을 이어가고 있습</span>
                                  </div>
                                </div>
                                <div class="card-foot _card_foot clearfix">
                                  <div class="float_l">
                                    <small class="cmt like_btn " name="newest_like_btn_p202004275fc7e8987db6b"
                                      style="display: none"
                                      onclick="newestClickLike('p202004275fc7e8987db6b', $('#like_token_key_p202004275fc7e8987db6b').val(), $('#like_token_p202004275fc7e8987db6b').val()); return false;">
                                      <div class="_token_obj" data-type="newest_grid_list_like">
                                        <input type="hidden" id="like_token_key_p202004275fc7e8987db6b"
                                          class="_tk_obj" />
                                        <input type="hidden" id="like_token_p202004275fc7e8987db6b"
                                          class="_tk_key_obj" />
                                      </div>
                                      <i aria-hidden="true" class="btm bt-heart vertical-middle"></i>
                                      <em name="newest_like_count_p202004275fc7e8987db6b">0</em>
                                    </small>
                                    <small class="cmt" style="display: none">
                                      <i aria-hidden="true" class="icon-bubble vertical-middle comment_ico"></i>
                                      0 </small>
                                  </div>
                                </div>
                                <div class="card-summary _card_summary">
                                  <div class="avatar">
                                    <div class="img_wrap" style="display: ">
                                      <img src="/common/img/default_profile.png" alt=""> </div>
                                    <div class="tools">
                                      <div class="writer">
                                        관리자 </div>
                                      <small class="date" title="2020-04-27 20:40" style="display: ">
                                        2020-04-27 </small>
                                      <small style="display: none">
                                        <i aria-hidden="true" style="font-style: normal;">조회</i>
                                        1 </small>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <!-- //카드형  -->
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
          <div doz_type="grid" doz_grid="6" class="col-dz col-dz-6">
            <div doz_type="row" doz_grid="6" class="doz_row">
              <div doz_type="grid" doz_grid="6" class="col-dz col-dz-6">
                <div doz_type="widget" id="w20200424d5b847977a448">
                  <div class="_widget_data " data-widget-name="텍스트" data-widget-type="text" data-widget-anim="none"
                    data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                    <div doz_type="text" class="widget _text_wrap widget_text_wrap fr-view  default_padding "
                      id="text_w20200424d5b847977a448">

                      <div class="text-table ">
                        <div>
                          <p style="text-align: center;"><span
                              style="font-size: 20px; color: rgb(114, 114, 114);"><strong>공지사항</strong></span></p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div doz_type="row" doz_grid="6" class="doz_row">
              <div doz_type="grid" doz_grid="6" class="col-dz col-dz-6">
                <div doz_type="widget" id="w202004245a1a60c5212df">
                  <div class="_widget_data " data-widget-name="최신글" data-widget-type="newest" data-widget-anim="none"
                    data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                    <div class="widget">
                      <div class="list-style m-margin-on row_02 type_row container_border"
                        id="newest_w202004245a1a60c5212df">
                        <div class="list line  ">
                          <div class="table-cell vertical-middle" style="padding: 10px 0;">
                            <div class="tabled full-width">
                              <div class="line_table_cell table-cell vertical-middle">
                                <a href="/notices/?idx=3764787&bmode=view" class="row_title _fade_link">
                                  <i aria-hidden="true" class="btl bt-lock" style="display: none; padding: 2px;"></i>
                                  사회복지법인 감리회 태화복지재단 부산기독교사회복지관 관장 채용 공고
                                  <!--              -->
                                  <!--                <span class="icons "><i aria-hidden="true" class="icon-picture"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                  <!--              --> <span class="first_fake">
                                    <span class="second_fake">
                                      <span class="third_fake">
                                        <i aria-hidden="true" class="btl bt-lock" style="display: none"></i>
                                        사회복지법인 감리회 태화복지재단 부산기독교사회복지관 관장 채용 공고
                                        <!--                    -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                        <!--                    -->
                                      </span>


                                    </span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <small class="date table-cell vertical-middle " style="padding: 10px 0;">
                            <a href="javascript:;" class="body_font_color_60">
                              <span class="inline-blocked" title="2020-04-27 20:59">2020-04-27</span>
                            </a>
                          </small>
                          <small class="view writer vertical-middle table-cell"><span
                              class="inline-blocked">관리자</span></small>
                        </div>
                        <div class="list line  ">
                          <div class="table-cell vertical-middle" style="padding: 10px 0;">
                            <div class="tabled full-width">
                              <div class="line_table_cell table-cell vertical-middle">
                                <a href="/notices/?idx=3764783&bmode=view" class="row_title _fade_link">
                                  <i aria-hidden="true" class="btl bt-lock" style="display: none; padding: 2px;"></i>
                                  태화복지재단 2020년 제10기 월드프렌즈NGO 봉사단원(캄보디아, 라오스) 모집(~12/31)
                                  <!--              -->
                                  <!--                <span class="icons "><i aria-hidden="true" class="icon-picture"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                  <!--              --> <span class="first_fake">
                                    <span class="second_fake">
                                      <span class="third_fake">
                                        <i aria-hidden="true" class="btl bt-lock" style="display: none"></i>
                                        태화복지재단 2020년 제10기 월드프렌즈NGO 봉사단원(캄보디아, 라오스) 모집(~12/31)
                                        <!--                    -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                        <!--                    -->
                                      </span>


                                    </span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <small class="date table-cell vertical-middle " style="padding: 10px 0;">
                            <a href="javascript:;" class="body_font_color_60">
                              <span class="inline-blocked" title="2020-04-27 20:59">2020-04-27</span>
                            </a>
                          </small>
                          <small class="view writer vertical-middle table-cell"><span
                              class="inline-blocked">관리자</span></small>
                        </div>
                        <div class="list line  ">
                          <div class="table-cell vertical-middle" style="padding: 10px 0;">
                            <div class="tabled full-width">
                              <div class="line_table_cell table-cell vertical-middle">
                                <a href="/notices/?idx=3764781&bmode=view" class="row_title _fade_link">
                                  <i aria-hidden="true" class="btl bt-lock" style="display: none; padding: 2px;"></i>
                                  2020년 태화복지재단 제1차 이사회 회의록 공개
                                  <!--              -->
                                  <!--                <span class="icons "><i aria-hidden="true" class="icon-picture"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                  <!--              --> <span class="first_fake">
                                    <span class="second_fake">
                                      <span class="third_fake">
                                        <i aria-hidden="true" class="btl bt-lock" style="display: none"></i>
                                        2020년 태화복지재단 제1차 이사회 회의록 공개
                                        <!--                    -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                        <!--                    -->
                                      </span>


                                    </span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <small class="date table-cell vertical-middle " style="padding: 10px 0;">
                            <a href="javascript:;" class="body_font_color_60">
                              <span class="inline-blocked" title="2020-04-27 20:58">2020-04-27</span>
                            </a>
                          </small>
                          <small class="view writer vertical-middle table-cell"><span
                              class="inline-blocked">관리자</span></small>
                        </div>
                        <div class="list line  ">
                          <div class="table-cell vertical-middle" style="padding: 10px 0;">
                            <div class="tabled full-width">
                              <div class="line_table_cell table-cell vertical-middle">
                                <a href="/notices/?idx=3764777&bmode=view" class="row_title _fade_link">
                                  <i aria-hidden="true" class="btl bt-lock" style="display: none; padding: 2px;"></i>
                                  기획사무국 해외사업과 직원 채용(계약직) 서류심사 결과
                                  <!--              -->
                                  <!--                <span class="icons "><i aria-hidden="true" class="icon-picture"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                  <!--              --> <span class="first_fake">
                                    <span class="second_fake">
                                      <span class="third_fake">
                                        <i aria-hidden="true" class="btl bt-lock" style="display: none"></i>
                                        기획사무국 해외사업과 직원 채용(계약직) 서류심사 결과
                                        <!--                    -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                        <!--                    -->
                                      </span>


                                    </span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <small class="date table-cell vertical-middle " style="padding: 10px 0;">
                            <a href="javascript:;" class="body_font_color_60">
                              <span class="inline-blocked" title="2020-04-27 20:57">2020-04-27</span>
                            </a>
                          </small>
                          <small class="view writer vertical-middle table-cell"><span
                              class="inline-blocked">관리자</span></small>
                        </div>
                        <div class="list line  ">
                          <div class="table-cell vertical-middle" style="padding: 10px 0;">
                            <div class="tabled full-width">
                              <div class="line_table_cell table-cell vertical-middle">
                                <a href="/notices/?idx=3761565&bmode=view" class="row_title _fade_link">
                                  <i aria-hidden="true" class="btl bt-lock" style="display: none; padding: 2px;"></i>
                                  2019년 기부금 영수증 발급 안내
                                  <!--              -->
                                  <!--                <span class="icons "><i aria-hidden="true" class="icon-picture"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                  <!--              --> <span class="first_fake">
                                    <span class="second_fake">
                                      <span class="third_fake">
                                        <i aria-hidden="true" class="btl bt-lock" style="display: none"></i>
                                        2019년 기부금 영수증 발급 안내
                                        <!--                    -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                        <!--                    -->
                                      </span>


                                    </span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <small class="date table-cell vertical-middle " style="padding: 10px 0;">
                            <a href="javascript:;" class="body_font_color_60">
                              <span class="inline-blocked" title="2020-04-27 14:14">2020-04-27</span>
                            </a>
                          </small>
                          <small class="view writer vertical-middle table-cell"><span
                              class="inline-blocked">관리자</span></small>
                        </div>
                        <div class="list line  ">
                          <div class="table-cell vertical-middle" style="padding: 10px 0;">
                            <div class="tabled full-width">
                              <div class="line_table_cell table-cell vertical-middle">
                                <a href="/notices/?idx=3761558&bmode=view" class="row_title _fade_link">
                                  <i aria-hidden="true" class="btl bt-lock" style="display: none; padding: 2px;"></i>
                                  빌딩관리사무소 전기과 직원 채용 서류심사 결과
                                  <!--              -->
                                  <!--                <span class="icons "><i aria-hidden="true" class="icon-picture"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                  <!--              -->
                                  <!--              -->
                                  <!--                <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                  <!--              --> <span class="first_fake">
                                    <span class="second_fake">
                                      <span class="third_fake">
                                        <i aria-hidden="true" class="btl bt-lock" style="display: none"></i>
                                        빌딩관리사무소 전기과 직원 채용 서류심사 결과
                                        <!--                    -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-picture"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-folder"></i></span>-->
                                        <!--                    -->
                                        <!--                   -->
                                        <!--                     <span class="icons"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
                                        <!--                    -->
                                      </span>


                                    </span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                          <small class="date table-cell vertical-middle " style="padding: 10px 0;">
                            <a href="javascript:;" class="body_font_color_60">
                              <span class="inline-blocked" title="2020-04-27 14:13">2020-04-27</span>
                            </a>
                          </small>
                          <small class="view writer vertical-middle table-cell"><span
                              class="inline-blocked">관리자</span></small>
                        </div>



                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20200428eac20b85879a3">
              <div class="_widget_data " data-widget-name="코드" data-widget-type="code" data-widget-anim="none"
                data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
              </div>
            </div>
          </div>
        </div>
        <div doz_type="row" doz_grid="12" class="doz_row">
          <div doz_type="grid" doz_grid="12" class="col-dz col-dz-12">
            <div doz_type="widget" id="w20200420ca1139ccf7724">
              <div class="_widget_data " data-widget-name="여백" data-widget-type="padding" data-widget-anim="none"
                data-widget-anim-duration="0.7" data-widget-anim-delay="0" data-widget-parent-is-mobile="N">
                <div class="widget padding" data-height="25" style="margin-top:px; margin-bottom:px;">
                  <div id="padding_w20200420ca1139ccf7724" style="width:100%; min-height:1px; height:25px; "></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  
  {{ partial "footer.html" . }}

</body>
</html>