<!DOCTYPE html>
<html lang="ko">

{{ partial "ar19/head.html" }}

<body
	class="page_ready  doz_sys  _body_menu_m20200428471e6c2bbc5e9  mobile-nav-on  mobile_nav_dep1  page  new_header_site  "
	id="doz_body">

	{{ partial "ar19/header.html" }}

	{{ partial "ar19/1-visual.html" }}
	
	{{ partial "ar19/2-greeting.html" }}

	{{ partial "ar19/3-carousel.html" }}

	{{ partial "ar19/4-domestic.html" }}

	{{ partial "ar19/5-oversea.html" }}
	
	{{ partial "ar19/7-chart.html" }}

	{{ partial "ar19/8-ambassador.html" }}

	{{ partial "ar19/9-style.html" }}

	{{ partial "ar19/footer.html" }}
	
</body>
</html>